[2019-10-13 03:29] jeffchew opened #267 "Pattern: demo component"
_Wonil-Suh1 created the following on Apr 11:_

 ### User story
As a maker I need a way to preview a pattern, understand the grids, get specs, and grab code so that I can use it the right way.

### Notes
(Modify as needed)

- Anything task detail you can share?
- Any resource links or documents do you have?
- Any specific time period this task should be completed?
- Does this task relate to any oth

[2019-10-13 03:44] jeffchew opened #38 "Cupcake website page creation - Patterns/Cards page"
_chsanche created the following on Sep 23:_

#### User Story

#### Additional information
- Cupcake website page development priority can be viewed via https://github.com/carbon-design-system/ibm-dotcom-library/issues/476.
- Card page on v19a website Components section can be viewed [here](https://www.ibm.com/standards/web/components/card/).
- Tile page on the current Carbon Design website can be

[2019-10-13 03:44] jeffchew opened #39 "Cupcake website page creation - Patterns/Page layout page"
_chsanche created the following on Sep 24:_

#### User Story

#### Additional information
- Cupcake website page development priority can be viewed via https://github.com/carbon-design-system/ibm-dotcom-library/issues/482.
- Current Layout page on v19a website Components section can be viewed [here](https://www.ibm.com/standards/web/design-guidelines/layout.html).
- Layout page on Carbon website c

[2019-10-15 17:20] kennylam opened #5 "test issue"
## Detailed description

## Steps to reproduce the issue

1. Step one
2. Step two
3. Step three
4. etc.

## Additional information

- Screenshots or code
- Notes

[2019-10-17 16:24] jeffchew opened #9 "Design inspirations"
## User story

As a maker I need an easy-to-access inspirations gallery that aligns with the new IBM Design so that I can design and build the best experiences while maintaining consistency.

## Deliverables

- A collection of good designs
- IA for the site
- Page design

### Notes

- Inspirations gallery, which draws from historical & contemporary, internal & external best design examples.

### T

[2019-10-17 16:25] jeffchew commented on #9
![835cf8dc-cec8-11e8-89a0-eb579c7f88fe](https://user-images.githubusercontent.com/1641214/67028371-2ae91a80-f0d9-11e9-89c6-280afde86ec3.gif)

[2019-10-17 18:59] jeffchew opened #10 "Should we provide the custom data object to replace masthead data only for our site."
_zhumy created the following on Dec 04:_

 Issue 1. Should we provide the custom data object to replace masthead data that only impact our site page.
As I find some commands in masthhead.js file which could custom mast head base data. Shall we used these function only change our site's masthead without change masthead.js file.
Below are the commands in masthead.js file:
                // Alias th

[2019-10-17 18:59] jeffchew commented on #10
_On Dec 06, zhaohuic commented:_
@elraymond Erica, thanks for your response to first issue - 'masthead cannot be customized' in Slack channel.

We still want to look into Issue 2 - implement mega-panel style on local menu items, would you please help to check? Thanks.

[2019-10-17 18:59] jeffchew commented on #10
_On Dec 06, elraymond commented:_
do you have designs with this experience mocked up?

[2019-10-17 18:59] jeffchew commented on #10
_On Dec 07, zhaohuic commented:_
Attached below is the mockup for the local menu with mega-panel style, kindly check. Thanks.
1) allow to present third level menu items in local menu
2) if hover on the second level menu item the third level menu items show in mega-panel

![image](https://media.github.ibm.com/user/12945/files/61eaa0e0-f9fd-11e8-8f3d-fbe84f142ad0)

[2019-10-17 18:59] jeffchew commented on #10
_On Dec 07, elraymond commented:_
While that interaction shouldn't be done as it doesn't align with the journey on the rest of the site Scott Bokma, our IA expert, can help you out with some ideas for your need.

@spbokma can you share with this team some other possibilities for their L1 navigation & work with them on refining. Thanks!

[2019-10-17 18:59] jeffchew commented on #10
_On Dec 10, zhumy commented:_
As the mockup in comment3, we have three level menu in our site.
And we need to present related third level menu items structured and their description in local menu when user hover on the the menu items.
@spbokma  Would you please help to provide some other possibilities for the three level menu, we do not limit the presentation form, mega panel or any other form. Th

[2019-10-17 18:59] jeffchew commented on #10
_On Dec 21, spbokma commented:_
---response to email on 12/21/18
I see iyou'd like to represent and support up to 3 levels of navigation within this experience. Could you please share with me your sitemap/IA of your complete structure, as this will help me better understand your overall hierarchy and being seeing how the navigation can possibly support it. We then can begin looking at options to h

[2019-10-17 18:59] jeffchew commented on #10
_On Dec 24, zhaohuic commented:_
Thanks Scott for response.

Our application portfolio is 'Distributed Software', the applications are under ibm.com and mostly in three sets: 'passportadvantage', 'softwareandservices' and 'buyingtools'.
Five menu items in L1 menu: 'Buy now', 'My services', 'My account', 'Sales', 'Help'.

Please kindly advise. Thanks.

**Three sets of sites under ibm.com:**
//www.i

[2019-10-17 18:59] jeffchew commented on #10
_On Jan 02, spbokma commented:_
Are you looking at combining the three sets into one site? If so, which pages, sections and content from the three sets are going into which of the five menu items. Do you have site map of this new IA showing which content from the three sets we are working with?

Letting you the link //www.ibm.com/software/howtobuy/buyingtools is bring up a 404 page for me.

[2019-10-17 18:59] jeffchew commented on #10
_On Jan 03, zhaohuic commented:_
Scott, thanks for your response.

The early-phase html page is here: http://vt-mysrvs.dswcluster-test-ussouth-2.us-south.containers.appdomain.cloud/pao/paocustomer

Could you help to take a look? And kindly let's know if you need more information. Thanks.

[2019-10-17 18:59] jeffchew commented on #10
_On Oct 17, chsanche commented:_
Note: Talked to Scott and we need to migrate this issue to our new repo for prioritization.

[2019-10-17 18:59] jeffchew opened #11 "Line length guidelines"
_Wonil-Suh1 created the following on Jan 28:_

 ## User story
As a a designer I need guidelines around line lengths and text element size so that I can design consistent experiences.

## Deliverables
- [ ] finalize line length guidelines (explorations have been done) in Sketch

_Original issue: https://github.ibm.com/webstandards/digital-design/issues/495_

[2019-10-17 18:59] jeffchew commented on #11
_On Jan 29, Wonil-Suh1 commented:_
The line length exploration from Duo is [here](https://ibm.box.com/s/d5djb8cmwkz4m95h89ys49ztqmtqbs9w).

[2019-10-17 18:59] jeffchew commented on #11
_On Feb 17, chsanche commented:_
@Wonil-Suh1 This is awesome. While it's not directly linked, I'd like you to also be aware of the #473. In a high-level, I created the issue bc I noticed many of the CTA labels are long and misleading across the IBM.com and even on our website.

[2019-10-17 18:59] jeffchew commented on #11
_On Apr 12, chsanche commented:_
@Wonil-Suh1 We should get Collen or Jill involved in this task.

[2019-10-17 18:59] jeffchew commented on #11
_On Jul 22, chsanche commented:_
@Wonil-Suh1  Which version of the website is this task for? Thank you.

[2019-10-17 18:59] jeffchew commented on #11
_On Jul 22, Wonil-Suh1 commented:_
@chsanche No new contents except comms related will be added to the current site. So this would be for the wedding cake.

[2019-10-17 18:59] jeffchew commented on #11
_On Oct 17, chsanche commented:_
Note: @Jeff-Chew we need to migrate this issue to our new repo for prioritization.

[2019-10-17 18:59] jeffchew opened #12 "Discussion needed - Usage of icon on left nav"
_chsanche created the following on Jan 30:_

 ## User story

As a designer,  I need to know if I can use icons for the left nav so that I can design and follow the guideline properly.

## Deliverables

- A unified decision on if we are going to have the icon usage included in our nav guideline.

### Notes

- We tend to see the treatment for the product team and for software UI.
- My IBM team is us

[2019-10-17 18:59] jeffchew commented on #12
_On May 23, chsanche commented:_
@spbokma and @larahanlon FYI on this task issue existed.

[2019-10-17 18:59] jeffchew commented on #12
_On Oct 17, chsanche commented:_
Note: @Jeff-Chew  we need to migrate this issue to our new repo for prioritization.

[2019-10-17 18:59] jeffchew opened #13 "Create and publish "Cloud product page patterns" on the wedding cake website"
_Wonil-Suh1 created the following on Feb 04:_

 ## User story

As a designer I need to be able to use the Cloud product page layouts and bands while designing so that I can align my pages to the standards.

## Deliverables

- Sketch library
- Publish on the design system site

_Original issue: https://github.ibm.com/webstandards/digital-design/issues/524_

[2019-10-17 18:59] jeffchew commented on #13
_On Oct 17, chsanche commented:_
Note: @Jeff-Chew we need to migrate this issue to our new repo for prioritization.

[2019-10-18 19:05] jeffchew opened #14 "Cupcake website page creation - Components/Masthead page"
@JennySanchez commented on [Fri Oct 18 2019](https://github.com/carbon-design-system/ibm-dotcom-library/issues/542)

#### User Story

#### Additional information
- Please make sure the content draft and all work documents are saved in the `Cupcake Website - Design + Content` folder.
- Carbon UI shell information can be viewed [here](https://www.carbondesignsystem.com/components/UI-shell-header/usa

[2019-10-18 19:22] JennySanchez opened #15 "Cupcake website page creation - Guidelines/Overview page"
#### User Story

#### Additional information
✏️ Carbon and DDS v19a websites do not have Guideline overview pages so the content will be new. Please take a look at all the overview pages across the updated sitemap below and come up with a structure for all the overview pages, so we can keep consistency.

#### Acceptance criteria
- [ ] Content and design published with markdowns.
- [ ] Content and

[2019-10-18 19:37] JennySanchez opened #16 "Cupcake website page creation - Components/Footer page"
#### User Story

#### Additional information
- Cupcake website page development priority can be viewed via #1664.
- Footer on the v19a website can be viewed [here](https://www.ibm.com/standards/web/components/footer/)
- Make sure we follow the [component content template](https://ibm.box.com/s/arlqd8wg4l2a0yy9fvsneagvs1f8rgfy) from the carbon team but take out the "General guidance" section title

[2019-10-18 19:46] JennySanchez opened #17 "Cupcake website page creation - Components/Checkbox page"
@JennySanchez commented on [Fri Oct 18 2019](https://github.com/carbon-design-system/ibm-dotcom-library/issues/544)

#### User Story

#### Additional information
- Cupcake website page development priority can be viewed via #1664.
- Make sure we follow the [component content template](https://ibm.box.com/s/arlqd8wg4l2a0yy9fvsneagvs1f8rgfy) from the carbon team but take out the "General guidance" s

[2019-10-18 19:49] JennySanchez opened #18 "Cupcake website page creation - Get started/Overview page"
#### User Story

#### Additional information
- Cupcake website page development priority can be viewed via #1664.
- The Get started/Overview page on the Carbon Design website can be viewed [here](https://www.carbondesignsystem.com/get-started/about-carbon)
- The Get started/Overview on the current v19a website can be viewed [here](https://www.ibm.com/standards/web/getting-started/about.html)

####

[2019-10-18 20:27] JennySanchez opened #19 "Update the Cupcake website Guidelines/Grid page content"
**Is your feature request related to a problem? Please describe.**
Carbon [2x Grid](https://www.carbondesignsystem.com/guidelines/2x-grid/implementation) page content is updated and to not get our adopters confused, we need to update what we have.

**Describe the solution you'd like**
Update the Gird page content.

**Describe alternatives you've considered**
We can also update the content via mark

[2019-10-19 18:09] wonilsuhibm opened #20 "Screen resolution guidelines"
### User story
As a designer of IBM.com experience, I need to know recommended art board sizes that will help design pages and experiences that can be used in real life situations.

### Notes
- This story is to create recommended art board sizes to be published for designers.
- This story will most likely be converted to an epic with smaller stories to achieve the acceptance criteria.

### Accepta

[2019-10-22 19:20] JennySanchez opened #21 "Cupcake website traffic tracking planning"
We need to track the NPS (Net Promoter Score) as a metric to measure our growth and outcome. (Hotjr is what we are currently using to track the v19a website)

We should look into other tools that can not only track the NPS score but also the following areas:
- Traffic, so we know how many adopters visited our website.  We need to differentiate the new visitors from the return visitors.
- Heatmaps,

[2019-10-22 19:22] JennySanchez commented on #21
@wonilsuhibm @jeffchew @photodow FYI.

[2019-10-25 18:49] jacobottesen-dgc commented on #14
@ScottBokma I've started putting together the content for the masthead page. Could you review the content I have so far? I'll be adding to it next week.

[2019-10-28 12:50] ScottBokma commented on #14
@jacobottesen-dgc I can't get to the folder for review. I might need to be added, as the message I'm getting is "This shared file or folder link has been removed or is unavailable to you."

[2019-10-29 21:18] JennySanchez opened #25 "Set up Cupcake website IA based on the updated sitemap"
#### User story:

As a Digital Design System Cupcake website creator

I need to see the correct overall elements are such as the site title, footer, navigation, etc.

so that I can focus on the content creation and work efficiently.

#### Additional information

- The current Gatsby theme for the Cupcake website can be viewed [here](https://carbon-for-ibm.netlify.com/)

#### Deliverables

- The ov

[2019-10-29 21:21] JennySanchez commented on #25
@jeffchew As mentioned in our training session today, it will be great if I can have a dev set up the website navigation so Jacob and I can focus on the content and not worry about the website structure set up. Please let me know if this is still doable for Sprint 21?

[2019-10-29 21:44] JennySanchez opened #26 "Markdowns content publishing how-to session for the Cupcake website stream (part two)"
#### User Story

DDS Cupcake website content creator

understand the Gatsby theme and know how to publish content with the theme

publish content efficiently.

#### Additional information

 - Gasby theme can be viewed [here](https://gatsby-theme-carbon.now.sh/).
- Part one training detail can be viwed [here](https://github.ibm.com/webstandards/digital-design/issues/1803)
- Trainer: @jeffchew

####

[2019-10-30 16:15] JennySanchez opened #27 "Update the Cupcake website sitemap"
We have discovered the inefficiency of duplicating the content form the Carbon website and revisited our strategy for the Cupcake Website. This will be a frustrating pain point for our adopters.

Based on the conversation with the adopters, we know we should take the approach of focus on the areas our adopter can not find guidance with via the v19a or the Carbon website.

After the discussion, we

[2019-10-30 16:31] JennySanchez opened #28 "Cupcake website page creation - Patterns/Lead Space page"
#### User Story

#### Additional information
- Cupcake website page development priority can be viewed via #1664.
- Lead Space page on v19a website Components section can be viewed [here](https://www.ibm.com/standards/web/components/lead-space/).
- Carbon does not have Lead Space as a component or patterns.
(Anna mentioned - "Only the gatsby template has that. We don't have that for product.")

##

[2019-10-30 21:27] jacobottesen-dgc commented on #14
@ScottBokma @larahanlon2 I've made a few updates to the Masthead cupcake content. Can you both take one last look at it? If you have changes or want anything removed please add your notes in purple. Thanks for the help!
Boxnote link: https://ibm.box.com/s/n0hh9f4h493kvmdrdrf97pu6ryzg915c

[2019-10-31 16:03] JennySanchez commented on #25
**Updated sitemap:**
![Cupacke sitemap v2 0](https://user-images.githubusercontent.com/45213839/67964259-f6dc2200-fbcd-11e9-9540-5248be3f5fb1.jpg)

[2019-10-31 16:07] JennySanchez commented on #27
Sitemap updated based on the discussion with @wonilsuhibm and will be shared in Team Huddle to keep everyone on the same page about the changes.

![Cupacke sitemap v2 0](https://user-images.githubusercontent.com/45213839/67964616-900b3880-fbce-11e9-9f0f-3c64b70d29c1.jpg)

[2019-10-31 16:23] JennySanchez commented on #19
The Grid guideline will be updated in markdowns with the Gatsby live site.

[2019-10-31 16:23] #19 closed

[2019-10-31 16:28] jacobottesen-dgc commented on #14
@jimpistilli Please review the masthead content rough draft. Thanks!
https://ibm.ent.box.com/notes/542712355171

[2019-10-31 16:54] JennySanchez opened #29 "Set up the overall Cupcake website elements"
#### User story:

As a Digital Design System Cupcake website adopter

I need to see the correct left-hand Github and Carbon Design System links, right-hand mini menu, on-page navigation, and footer link set ups

so that I can be taken to the proper places to get the information I need without confusion.

#### Additional information

The current Gatsby theme for the Cupcake website can be viewed [h

[2019-10-31 17:08] JennySanchez commented on #17
@jacobottesen-dgc Can you save the content work file in the BOX folder and provide the link to it here?

[2019-10-31 17:14] jacobottesen-dgc commented on #17
@JennySanchez Yes, here is the the box note link: https://ibm.box.com/s/s8h0d5zjb5j0iv7hvwc6z2hx2n53wfzy

[2019-10-31 18:10] JennySanchez commented on #28
**Storybook for Cards** = https://deploy-preview-78--ibmdotcom-patterns-react-experimental.netlify.com/?path=/story/leadspace--default-with-image

[2019-10-31 18:24] JennySanchez opened #30 "Cupcake website page creation - Patterns/Overview page"
#### User Story

#### Additional information
- Card page on v19a website Components section can be viewed [here](https://www.ibm.com/standards/web/components/card/).
- Patterns overview page on the current Carbon Design website can be viewed [here](https://www.carbondesignsystem.com/patterns/overview)

#### Acceptance criteria
- [ ] Content and design created and reviewed with Wonil.
- [ ] Shared

[2019-10-31 18:38] JennySanchez commented on #17
@jimpistilli This is not related to #14.

[2019-10-31 18:42] JennySanchez commented on #17
As we pivot to the new Cupcake website structure, we will no longer work on the Checkbox page, the current content from Jacob will be saved in the BOX folder for future use if we decide to add the Checkbox page in the future.

[2019-10-31 18:42] #17 closed

[2019-10-31 19:31] jacobottesen-dgc commented on #18
Hey @JennySanchez I have a rough draft for the overview page. Could you take a look?

https://ibm.box.com/s/swpiqo3z4iy00kzc411y37aw0w8eilew

[2019-10-31 19:58] jacobottesen-dgc commented on #16
Hey @JennySanchez I have a rough draft for the Footer. Could you review it and let me know if I need to change anything?

https://ibm.box.com/s/3sgu496ybtm858c21bqz56icfb6qz71h

cc @ScottBokma

[2019-11-01 14:12] jacobottesen-dgc commented on #16
@JennySanchez Scott as mentioned that we will need to make changes to this page when locale selector is finalized.

cc @ScottBokma

[2019-11-01 14:43] JennySanchez commented on #18
@jacobottesen-dgc I can not open the link. Can you make sure the file is saved in the `Cupcake Website folder` then share the link here? Thanks.

[2019-11-01 14:52] JennySanchez commented on #26
Thank you, again @jeffchew. You are a great teacher!

[2019-11-01 14:58] JennySanchez commented on #14
@jacobottesen-dgc @jimpistilli Can you double-check the document links? Let's make sure we save everything in the Cupcake Website - Design + Content folder, please.

https://ibm.ent.box.com/notes/542712355171 - I can not view the content with the link.
https://ibm.box.com/s/os8sf0cxgiodoby43yp1jn1eo27kk1i0 - I did not see any red text and not sure if I missed anything?

[2019-11-01 15:35] jimpistilli commented on #14
@JennySanchez @jacobottesen-dgc Sorry, uploaded not the most recent version to box. It's there now (https://ibm.ent.box.com/file/549418850205) - I suggest downloading and viewing changes in Word over previewing on Box.

@jacobottesen-dg: The other Box note link that Jenny specified does not work for me either

[2019-11-01 16:25] jacobottesen-dgc opened #31 "Edit page option on Cupcake site"
Figure out how to add the Edit page option on live Cupcake site

[2019-11-01 17:58] JennySanchez opened #33 "Publish approved content with markdowns (group one)"
#### User Story

#### Additional information
- Gatsby's website set up for markdown work can be viewed [here](https://carbon-for-ibm.netlify.com/).
- The pages ready to go are: `Help`, `Resources`, `Get Started - Overview`, `Get started - designing`, and `Get started - coding`.

#### Task
- Collaborate with Jeff and Jenny for the content creation.

#### Acceptance criteria
- [x] Content and design

[2019-11-01 18:00] JennySanchez commented on #33
@jacobottesen-dgc Please use the content in the Sketch file I shared and went over with you today. Let me know if you have any questions. Thank you.

[2019-11-01 18:10] JennySanchez commented on #15
As we pivot to the new Cupcake website structure, we will no longer create the Guideline/Layout page. Instead, we will modify this issue for the Guideline/Overview page content creation.

FYI - @RobertaJHahn

[2019-11-01 18:23] JennySanchez opened #35 "Cupcake website page creation - Contributions/Overview page"
#### User Story

#### Additional information
Carbon's Contribution overview page can be viewed [here](https://www.carbondesignsystem.com/how-to-contribute/overview).

#### Acceptance criteria
- [x] Content and design published with markdowns.
- [x] Content and design reviewed with Jenny and Wonil.
- [x] Content and design accepted by Wonil and Linda.

[2019-11-01 18:33] JennySanchez opened #36 "Publish approved content with markdowns (group two)"
#### User Story

#### Additional information
- Gatsby's website set up for markdown work can be viewed [here](https://carbon-for-ibm.netlify.com/).
- The pages that need to create or publish are: `Components - Overview`, `Components - Masthead`, and `Components - Footer`.

#### Task
- Collaborate with Jeff and Jenny for the content creation.

#### Acceptance criteria
- [x] Content and design creat

[2019-11-01 19:02] JennySanchez opened #40 "Cupcake website page creation - Homepage"
#### User Story

#### Additional information
- IDL's homepage can be viewed [here](https://www.ibm.com/design/language/).
- Carbon's home page can be viewed [here](https://www.carbondesignsystem.com/).
- Current v19a website home page can be viewed [here](https://www.ibm.com/standards/web/).

#### Acceptance criteria
- [ ] Content and design published with markdowns.
- [ ] Content and design revie

[2019-11-01 19:09] JennySanchez opened #41 "Cupcake website page content update - Help/FAQ page"
#### User Story

#### Additional information
- The FAQ page on the Carbon Design website can be viewed [here](https://www.carbondesignsystem.com/help/faq).
- The FAQ page on the current v19a website can be viewed [here](https://www.ibm.com/standards/web/faq.html).
- We need to do adopter research to see what questions our adopters have for the Cupcake website. This task also might be for v1.1 inst

[2019-11-01 19:16] JennySanchez opened #42 "Adopter research planning for the Help/FAQ page"
#### User Story

#### Additional information
- Let's talk to ~~Ashley~~ Penny if she has any tips on how we can conduct this research.

#### Acceptance criteria
- [ ] A plan with action items ready for the content collection.

[2019-11-01 22:14] JennySanchez commented on #30
@jimpistilli The pattern overview page content is ready for review and edit. The purpose of this page is to let the adopters know what is the pattern with a high-level description of what each pattern is. The work document is saved on [BOX](https://ibm.box.com/s/9qcicnpa4qhw7xmxbyb1vcnw8o165p95).

-----

![Screen Shot 2019-11-01 at 5 05 21 PM](https://user-images.githubusercontent.com/45213839/680

[2019-11-01 22:17] JennySanchez commented on #38
**Update:** Reviewed the Card explorations we currently have with Wonil on Wednesday. He will do an audit of what we should include and come up with a list for us to filter through and move forward with the next step.

[2019-11-04 14:19] jimpistilli commented on #30
Hi @JennySanchez - can get going on this today but should all of the text in the Box note be reviewed or just the copy that's above in the screenshot? There's additional text it looks like in the note, some is in light grey.  All of it?  Thanks

[2019-11-04 15:24] JennySanchez commented on #30
@jimpistilli Only the copy in the screenshot. Thank you for confirming.

[2019-11-04 16:18] jimpistilli commented on #30
@JennySanchez here's a version with light edits, as the substance looks fine to me:

https://ibm.box.com/s/zx545syg4lensvbdr5cpd3lzfpu7yxa1

[2019-11-04 20:01] JennySanchez commented on #25
@jeffchew The review/PR was approved last week. Anything else I need to do for you?

[2019-11-04 20:09] jeffchew commented on #25
@JennySanchez don't think so, I think we're good!

[2019-11-05 16:07] JennySanchez commented on #30
@jimpistilli The content you have (see below) is not what I have for review and edit. Where is this from?

Let's talk in the website huddle today.

<img width="839" alt="Screen Shot 2019-11-05 at 10 08 16 AM" src="https://user-images.githubusercontent.com/45213839/68224437-3af76a00-ffb4-11e9-9db8-95426fe39203.png">

[2019-11-05 16:27] jimpistilli commented on #30
@JennySanchez I may have taken the wrong source. On the Box note I was looking for copy and paste friendly text instead of retyping everything manually, I saw the link below that I thought was the same. I'm guessing that is not the proper source?

https://www.carbondesignsystem.com/patterns/overview/

[2019-11-05 16:29] jimpistilli commented on #30
@JennySanchez This link from the Note here
![CapturFiles-Nov-05-2019_11 28 41](https://user-images.githubusercontent.com/32171262/68226117-7fd4ce00-ffbf-11e9-8215-09f94f62edd5.jpg)

[2019-11-05 17:34] jacobottesen-dgc commented on #18
@jimpistilli Hey Jim! Could you review the content for this page?

https://ibm.ent.box.com/notes/549530021915

[2019-11-05 17:35] jacobottesen-dgc commented on #16
Hey @jimpistilli can you review the content for the footer page?

https://ibm.ent.box.com/notes/549525475269

[2019-11-06 15:36] jimpistilli commented on #30
@JennySanchez @jacobottesen-dgc Hey there here is a new edited version of the correct text: https://ibm.ent.box.com/file/551575566040

As always I recommend viewing on Word over Box to see what changes were done

[2019-11-06 15:57] JennySanchez commented on #30
The content looks great. Thanks @jimpistilli.

[2019-11-06 18:51] JennySanchez commented on #30
*Task update:* Page created via markdowns (see below), waiting on pull request merging to the master branch for now.

---

title: Page Title
description: Lorem Ipsum
title: Patterns
description: In Digital Design System, patterns comprise common user flows and scenarios which are too complex or too universal to be encapsulated in a single component.
---
In the Digital Design System, patterns compr

[2019-11-07 15:13] jimpistilli commented on #14
@JennySanchez @jacobottesen-dgc Hey there - checking in if this one is done or still there is editing outstanding? Most recent version of copy here: https://ibm.ent.box.com/file/549418850205

[2019-11-07 16:05] jimpistilli commented on #16
Edited version here: https://ibm.box.com/s/rqxf7dfdhshltydp130kr5kfnlo4afr7

cc: @JennySanchez @jacobottesen-dgc

[2019-11-07 16:39] JennySanchez commented on #31
@jacobottesen-dgc I believe @jeffchew completed this task in Sprint 21 already?
Can you confirm if this feature is what you are talking about?

Link to view the actual live pages: https://carbon-for-ibm.netlify.com/

---

![Screen Shot 2019-11-07 at 10 37 50 AM](https://user-images.githubusercontent.com/45213839/68408275-b2f79880-014a-11ea-9bad-144d6ecfe50a.png)

[2019-11-07 16:46] jeffchew commented on #31
Yes that's correct! I'll pull it into the sprint to capture the work.

cc: @RobertaJHahn

[2019-11-07 19:55] JennySanchez opened #48 "Cupcake website - Content review (group two)"
As a Cupcake website content creator, I need to collaborate with a content designer to make sure the content on the website meets our user needs, has a consistent voice and tone across the website, and with no typos.

For Sprint 23, we will collaborate on the following tasks:

- Publish approved content with markdowns (group two) #36

- Review and approve content for Contribution/Overview page #35

[2019-11-07 19:56] JennySanchez opened #49 "Cupcake website - Content assessments (group one)"
As a Cupcake website content creator, I need to collaborate with a content designer to make sure the content on the website meets our user needs, has a consistent voice and tone across the website, and with no typos.

**For Sprint 22, we will collaborate on the following tasks:**
(Note: the list might be changed based on the user needs)

- Publish approved content with markdowns (group one) #33
-

[2019-11-08 20:07] larahanlon2 opened #57 "Cupcake website – collate and update lead space documentation"
#### User Story

#### Task
- Lara to gather and update all `lead space` pattern assets and guidelines.
- Collate into a document(s) for Jenny to use for content creation
- Create and provide any assets needed for guidelines page (images, examples etc)

#### Acceptance criteria
- [x] Content addressed the needs of issue #28

[2019-11-08 20:07] larahanlon2 commented on #57
FYI @JennySanchez

[2019-11-11 18:07] jacobottesen-dgc commented on #16
@JennySanchez Just to clarify. I should not have the locale selector on the footer for the cupcake site?

cc. @jeffchew

[2019-11-11 18:08] JennySanchez opened #59 "Cupcake website content assessments: Get Started Intro copy creation"
#### Additional information
- Our current Get started intro content can be viewed [here](https://carbon-for-ibm.netlify.com/getting-started).
- We need to craft a paragraph based on the "Goals" for the cupcake website and added to the introduction section.
- Carbon's introduction content for reference and inspiration:
"The goals of the design system include improving UI consistency and quality, ma

[2019-11-11 18:13] JennySanchez commented on #59
@jimpistilli I am not sure how long the task will take for you to complete, please feel free to adjust the story points and let Roberta know. Thanks.

[2019-11-11 18:16] JennySanchez opened #60 "Cupcake website - Footer and Masthead content update"
#### Additional information
- Our current Footer and Masthead content can be viewed via the links below:

#### Task
- Collaborate with Jenny for content updates.

#### Acceptance criteria
- [x] Content reviewed with Jenny.
- [x] Content updated on the live website.
- [ ] Page content accepted by Wonil and Linda

[2019-11-11 18:24] JennySanchez opened #61 "Dev assistant for Cupcake website page content fix (Sprint 22)"
#### Additional information
- The items we need to work on together will be recorded below.
- I will schedule a work session for us for the second week of the sprint so we can fix what we worked on the week before.
- We will work on the fix together, so Jacob and I can learn how to troubleshoot.

#### Task
- (TBD)

#### Acceptance criteria
- [ ] Errors and problems fixed and updated on the live we

[2019-11-11 18:26] JennySanchez opened #62 "Dev assistant for Cupcake website page content fix (Sprint 23)"
#### Additional information
- The items we need to work on together will be recorded below.
- I will schedule a work session for us for the second week of the sprint so we can fix what we worked on the week before.
- We will work on the fix together, so Jacob and I can learn how to troubleshoot.

#### Task
- (TBD)

#### Acceptance criteria
- [ ] Errors and problems fixed and updated on the live we

[2019-11-11 18:28] JennySanchez opened #63 "Dev assistant for Cupcake website page content fix (Sprint 24)"
#### Additional information
- The items we need to work on together will be recorded below.
- I will schedule a work session for us for the second week of the sprint so we can fix what we worked on the week before.
- We will work on the fix together, so Jacob and I can learn how to troubleshoot.

#### Task
- Will be listed via comment as we go.

#### Acceptance criteria
- [x] Errors and problems f

[2019-11-11 18:41] JennySanchez commented on #16
@jacobottesen-dgc FYI: on the content update issue is created as #60.

[2019-11-11 18:42] JennySanchez commented on #16
@jacobottesen-dgc The locale selector on the footer should be worked on by @jeffchew via issue #29. Can you add task detail to issue 29?

[2019-11-11 18:45] JennySanchez commented on #18
Page content completed and can be viewed [here](https://carbon-for-ibm.netlify.com/getting-started). One enhancement we need to do is update the "Introduction" session. The task issue for the enhancement is created as #59.

[2019-11-11 18:46] jacobottesen-dgc commented on #60
I've made all of the following updates:

    - Add footer demo images
    - Add masthead demo images
    - Add documentation table to footer
    - Add documentation table to masthead
    - Links images for footer
    - Links images for masthead

Updates can be viewed here:
https://deploy-preview-58--carbon-for-ibm.netlify.com/components/footer
https://deploy-preview-58--carbon-for-ibm.netlify.com/

[2019-11-11 18:47] JennySanchez commented on #14
Content created and can be viewed [here](https://carbon-for-ibm.netlify.com/components/masthead).

@jacobottesen-dgc FYI: The Masthead content update issue is created as #60.

[2019-11-11 18:49] JennySanchez commented on #30
Content created and can be viewed [here](https://carbon-for-ibm.netlify.com/patterns).

[2019-11-11 18:50] JennySanchez commented on #25
Perfect. Thanks, Jeff!

[2019-11-11 18:57] #26 closed

[2019-11-11 18:57] #27 closed

[2019-11-11 18:58] #31 closed

[2019-11-11 18:58] #16 closed

[2019-11-11 18:58] #18 closed

[2019-11-11 18:58] #14 closed

[2019-11-11 18:58] #30 closed

[2019-11-11 18:58] #25 closed

[2019-11-11 21:36] JennySanchez commented on #41
**Note:** What is the difference between Component and Pattern?

[2019-11-12 16:25] jacobottesen-dgc commented on #61
@jeffchew
Current issues:
- spacing between h2 & h3
- linking icons correctly on the resource cards

[2019-11-12 16:47] JennySanchez opened #64 "Create a Cupcake website page inventory list for the Carbon website"
#### User Story

#### Task
- Jenny to create a list of the website pages we need to implement the current Carbon website.

#### Acceptance criteria
- [ ] List items agreed by Wonil and Scott.
- [ ] List addressed the needs for Scott to work on the IA with Jan.

[2019-11-12 16:53] JennySanchez commented on #64
**Note:** The current Patterns roadmap can be viewed [here](https://github.ibm.com/webstandards/patterns/wiki/Learn-page-layout-pattern-roadmap).

[2019-11-12 17:51] JennySanchez commented on #15
@jimpistilli The super rough draft of the content copy is ready for your edit and can be viewed in the box folder [here](https://ibm.box.com/s/ja84ih7uod29soymx5lbz0gmxof088ut).

Let's hop on WebEx and let me go over the content with you before you start. Calendar invite coming soon.

[2019-11-12 18:09] larahanlon2 opened #65 "Create a patterns publishing roadmap for cupcake website"
#### User Story

#### Task
- Jenny and Lara to work together to figure out what patterns will be published in order of priority.
- Jenny to create a publishing roadmap wiki page

#### Acceptance criteria
- [ ] Roadmap items agreed by Wonil, Lara, Jenny.

[2019-11-12 18:13] jeffchew commented on #29
@JennySanchez do you have the URLs that these need to go to?

[2019-11-12 18:27] JennySanchez commented on #29
@jeffchew No, but I can create a list.

[2019-11-12 20:00] jacobottesen-dgc commented on #61
@jeffchew Another issue:
- Resource cards not aligning

![Screen Shot 2019-11-12 at 12.59.18 PM.png](https://images.zenhubusercontent.com/5da5ed9833f74500019c499f/d8634148-7b9e-45f1-8fc7-f6830282b192)

[2019-11-12 20:45] jeffchew commented on #61
@JennySanchez @jacobottesen-dgc can you provide a link to a content page where I can see these issues?

[2019-11-12 21:10] JennySanchez commented on #29
**For item 1:**
Confirmed with Linda, we will say "Carbon for IBM.com" and it will take the website visitor back to the homepage.

**For item 2:**
Github: https://github.com/carbon-design-system/ibm-dotcom-library
Carbon Design System: https://www.carbondesignsystem.com/

**For item 3:**
IBM Design: https://www.ibm.com/design/
IBM Design Language: https://www.ibm.com/design/language/
IBM Brand Cen

[2019-11-13 15:00] larahanlon2 commented on #57
@JennySanchez @jacobottesen-dgc still working through this doc but take a look at the leadspace guidelines so far, [here](https://ibm.ent.box.com/notes/528552262380). If you have any questions let me know!

[2019-11-13 16:36] JennySanchez commented on #57
Looking good and thank you for the update, Lara.

[2019-11-13 18:16] jacobottesen-dgc commented on #33
UPDATE:
Pages merged to Master Branch

Merged: Get Started Overview – https://carbon-for-ibm.netlify.com/getting-started
Not Merged: Get Started Designing –
Merged: Get Started Coding – https://carbon-for-ibm.netlify.com/getting-started/coding
Merged: Resources – https://carbon-for-ibm.netlify.com/resources
Merged: Help – https://carbon-for-ibm.netlify.com/help

[2019-11-13 20:59] jimpistilli commented on #59
@JennySanchez @jacobottesen-dgc Here there, below is a version with suggested edits and notes:  https://ibm.box.com/s/yzcio40njbtn258kgoesj3z25u88rtri

[2019-11-13 23:08] JennySanchez commented on #59
@jimpistilli Thank you for the edit. We are good to go!

[2019-11-13 23:33] JennySanchez commented on #61
@jeffchew https://deploy-preview-72--carbon-for-ibm.netlify.com/resources

[2019-11-13 23:37] JennySanchez commented on #29
@jeffchew  For the IBM Journey System link, Sarah is working on creating a Journey System site off of the IBM Design website as a practice. The development should start in December so we won't know the URL till then. If it helps, let's take the link off the website for now.

[2019-11-13 23:48] JennySanchez commented on #29
PR Approved!

[2019-11-14 23:10] JennySanchez commented on #64
@wonilsuhibm @ScottBokma An initial list for us to get started below. Please take a look and let me know what do you think and if anything you can think of to be added.

---

### Without thinking about the Carbon IA. The list below is what we need to migrate over to the Carbon website:

**Home/Landing page**

**Get Started**
- Overview
- Designing
- Coding

**Guideline**
- Overview

**Components**

[2019-11-15 16:01] jacobottesen-dgc commented on #61
@jeffchew I did fix the card misalignment. I just needed to add a <row> around the card.

[2019-11-15 17:46] JennySanchez opened #76 "Update the Layout Patterns/Overview page"
#### Additional information
Current cupcake Patterns overview page can be viewed [here](https://carbon-for-ibm.netlify.com/patterns).

#### Acceptance criteria
- [x] Content and design published with markdowns.
- [x] Content and design reviewed with Jenny and Wonil.
- [x] Content and design accepted by Wonil and Linda.

[2019-11-15 17:49] JennySanchez commented on #39
**Note:** Peet on the IDL team shared the latest IDL Layout page and can be viewed [here](https://deploy-preview-344--design-language-website.netlify.com/design/language/elements/layout/overview/)

FYI - @larahanlon2 @wonilsuhibm

[2019-11-15 22:28] jacobottesen-dgc commented on #61
@jeffchew Do you know how we can add an icon to the link in this table? Just under the documentation section.

![Screen Shot 2019-11-15 at 12.49.54 PM.png](https://images.zenhubusercontent.com/5da5ed9833f74500019c499f/bb75b886-dc52-4861-9e77-d08c13e34375)

Link: https://carbon-for-ibm.netlify.com/components/masthead

[2019-11-18 17:25] JennySanchez commented on #60
**Update:** Reviewed and worked on the content update with Jacob last Friday.

[2019-11-18 19:24] larahanlon2 commented on #57
@wonilsuhibm @JennySanchez @jacobottesen-dgc

Hey! Could you all take a look at [the guidelines](https://ibm.ent.box.com/notes/528552262380) and suggest any changes/ask questions if things are not clear. Please and thanks.

[2019-11-18 19:48] JennySanchez commented on #64
For the right-hand side menu, we also need to add IBM Journey System and IBM Accessibility.
![Screen Shot 2019-11-18 at 1 48 32 PM](https://user-images.githubusercontent.com/45213839/69084567-22526f80-0a0a-11ea-81c1-a2cddbe1609a.png)

[2019-11-18 20:00] JennySanchez commented on #57
@larahanlon2 The content is coming along nicely!

**A few questions:**

- I see you use "Leadspace" in the content, so are we using Leadspace for the pattern naming from this point on? Or the pattern is Lead Space, but the section of a page is Leadspace? (Sorry, I know we had this discussion for so many times)
- Is the content using bullet points and dashes different in the content level setup?
![

[2019-11-18 20:25] jimpistilli commented on #15
@JennySanchez @jacobottesen-dgc Updated version here: https://ibm.ent.box.com/file/560544800441?sb=/activity

[2019-11-18 21:47] JennySanchez commented on #15
@jimpistilli I reviewed and added my comments to the document. Let me know if you have any questions.

[2019-11-18 23:16] RobertaJHahn commented on #11
The guidelines work has been deferred until resources are available.  The design kit and components will continue.

[2019-11-18 23:17] RobertaJHahn commented on #20
The guidelines work has been deferred until resources are available.  The design kit and components will continue.

[2019-11-18 23:20] RobertaJHahn commented on #13
Pattern pages are still needed on the wedding cake site.  Work not scheduled yet as Carbon strategy interlock was needed.

[2019-11-19 12:59] ljcarot commented on #10
I would suggest closing and creating a new issue or renaming this issue so it more accurately reflects the local megamenu requirement.  Assigning to Scott for now since I think this still remains with IA.

[2019-11-19 13:38] wonilsuhibm commented on #12
@JennySanchez The Carbon UI Shell left panel component lists styling around this use case. For productive experiences such as My IBM, Search, I think it makes sense to allow this and follow Carbon styling.

We should keep this issue though — I think we will need separate guidelines for dot com makers especially around UI Shell VS layout component usage.

[2019-11-19 14:36] jimpistilli commented on #15
@JennySanchez Updated version below, reflecting your comments.  Please let me know if anything additional is needed.

https://ibm.box.com/s/zdoe49xt24tf8k8lgs1v9hr3afj44jq3

cc: @jacobottesen-dgc

[2019-11-19 15:28] ScottBokma commented on #64
Question about these patterns:
    Cards with images
    Cards without images
    Content array with cards
    Content array with pictograms

Would these be more accessible to user if all their information was located in one area for users to see the differences quickly? Not forcing user to jump to two different area to see which one is the right one to use.

Merging these patterns to be:
    Card

[2019-11-19 15:46] JennySanchez commented on #64
Good point and agreed, Scott. I believe @larahanlon2 and @wonilsuhibm are still working on the list for Patterns. See #65 for detail.

[2019-11-19 18:17] JennySanchez commented on #15
Thank you, @jimpistilli. I will publish the content with markdowns as the next step.

[2019-11-19 19:19] wonilsuhibm commented on #64
With Carbon IA in mind, should the IBM.com components (masthead, footer) go under Components or a separate section dedicated to IBM.com library? The same may apply to other pages like getting started, guideline / overview, etc.

[2019-11-19 19:22] wonilsuhibm commented on #64
Thank you, Jenny. Should IBM>com specific things be separate from the rest of Carbon? More under a dedicated section?

[2019-11-20 18:50] larahanlon2 commented on #57
@JennySanchez Thank you!

1. If we're using `leadspace` as one term/word as per Jim's comment then we need to use it everywhere. So the name of the pattern and design documentation would be `leadspace` not `Lead space`. Let's get a final final direction on this!

2. Content bullets and dashes are no different. This is just an error in how I pasted or edited in Boxnote but feel free to update these

[2019-11-20 19:05] JennySanchez commented on #12
Agreed, @wonilsuhibm .

[2019-11-20 21:16] JennySanchez commented on #64
That will be the option of - "With Carbon IA in mind and in the scenario of having Carbon for IBM.com tab on the left navigation:" (see above).

[2019-11-20 22:47] JennySanchez commented on #15
Page published with markdowns and can be viewed [here](https://carbon-for-ibm.netlify.com/guidelines/).

[2019-11-20 22:50] JennySanchez commented on #33
@wonilsuhibm Please take a look at the published page listed above and let us know if you spot something we need to make changes with.

FYI - there are vertical spacing issues and Jeff is working on the fix.

[2019-11-21 13:50] wonilsuhibm commented on #64
@JennySanchez Got it! So according to that section, designing for IBM.com will be dispersed through the existing IA. Have you shown this to Carbon team?

[2019-11-21 13:57] wonilsuhibm commented on #33
Thank you. You guys got so much done already!!!

A few comments

### Get started overview

- The part under *Introduction* about this being controlled adoption, we may need to come up with a way to make this way more visible.

- I think there may be some questions around the *What is in Carbon for IBM.com?* section. One being are there different components and patterns for Carbon for IBM.com? What

[2019-11-21 14:09] jimpistilli commented on #15
@JennySanchez Looks great! Can I make minor edit requests?  If so:

- Expressive Theme should be in _italics_

- "colloquial natural language" should have a , after colloquial

- The link (and all links really) should be opening in a new page instead of using the same browser. This is a best practice we try to employ for our marketing pages and I believe should carry over here as well. It's a best

[2019-11-21 14:31] ScottBokma commented on #64
@wonilsuhibm I am putting something together now using the latest sitemap Jan shared with me and the work Jenny as created. As well as documenting questions I have on Jan's sitemap. Here is where I'm at currently.

![Carbon-sitemap-withDDS-mirgation](https://user-images.githubusercontent.com/53090172/69346990-beb28700-0c41-11ea-9b1e-46ca784d0341.png)

[2019-11-21 15:43] jacobottesen-dgc commented on #33
Page progress

Get Started – Overview

https://deploy-preview-91--carbon-for-ibm.netlify.com/getting-started

Progress: completed

———

Get Started – Designing

https://deploy-preview-91--carbon-for-ibm.netlify.com/getting-started/designing

Progress:

- Still need content from Olivia based on the public vs limited 

———

Get Started – Coding

https://deploy-preview-91--carbon-for-ibm.netlify.com/

[2019-11-21 15:43] jacobottesen-dgc commented on #60
Component – Footer

https://deploy-preview-91--carbon-for-ibm.netlify.com/components/footer

Progress:

- Figure out heading style for ‘Rules’
- Figure out icon for ‘View sandbox’

——-

Component – Masthead

https://deploy-preview-91--carbon-for-ibm.netlify.com/components/masthead

Progress:

- Figure out icon for ‘View sandbox’

cc. @JennySanchez

[2019-11-21 15:51] larahanlon2 commented on #65
I've been chatting with Lila and Jill about their time and priorities for documenting their web simplification patterns for the cupcake site. They will try to add stories to their current + upcoming WS sprints to start work on it asap but right now they don't know what they will begin with or when.

Aside from `overview` and `leadspace left-aligned` this publishing roadmap is dependent on their av

[2019-11-21 16:22] JennySanchez commented on #49
@jimpistilli I believe there's nothing else you need to do for this task. Please confirm and let me know if there's anything Jacob and I missed.

[2019-11-21 16:32] JennySanchez commented on #64
**Next Step:** Review the options with the collaborators (Wonil, Lara, Scott, and Jacob). Review session scheduled for 11-22 (Friday).

[2019-11-21 16:46] JennySanchez commented on #65
@lara Got it and yes, let's move this to the backlog.

@RobertaJHahn Can you move this to the backlog for us, please? We will need to set priority once we have more information from Lila and Jill.

[2019-11-21 16:49] jimpistilli commented on #49
Confirmed!

[2019-11-21 16:51] JennySanchez commented on #28
@RobertaJHahn FYI - We need to move this to Sprint 23.

[2019-11-21 17:01] JennySanchez commented on #57
@larahanlon2

1. Sounds good. Maybe start a Slack conversation thread? Let's get Jill involved with this conversation as well.

2. Got it.

3. Sounds good.

4. I like the idea of taking out "smart paper".

[2019-11-21 17:02] larahanlon2 commented on #57
I think we need to create a new issue dedicated to content and copy review of all of this by Jim and Jill. @wonilsuhibm what do you think?

[2019-11-21 17:30] wonilsuhibm commented on #57
Thank you @JennySanchez and @larahanlon2 . added some comments and suggestions.

[2019-11-21 17:31] wonilsuhibm commented on #57
@JennySanchez how are you planning to review contents with Carbon?

[2019-11-21 18:58] JennySanchez commented on #60
@jacobottesen-dgc Both pages look good. I will create a task for us to add Anatomy and Behavior sections for the Footer page for Sprint 23 as discussed.

[2019-11-21 19:01] JennySanchez commented on #57
@wonilsuhibm I think we can do it in the weekly design check-in meeting (preferred option) with Carbon or schedule a review session the first week of December because we should have a good amount of content to share and get feedback by then.

What do you think?

[2019-11-21 20:10] JennySanchez commented on #64
Based on the review today below will be the inventory list for us to start the conversation with the Carbon Team. Once we have a clear direction on the IA, we will update the list based on the agreed outcome with the Carbon Team.

---

**Home/Landing page**

**Get Started**
- Overview
- Designing
- Coding

**Guideline**
- Overview

**Components**
- Overview
- Footer
- Masthead

**Patterns**
- Over

[2019-11-21 20:17] JennySanchez commented on #65
**Note:** We need to update the [Website content inventory list](https://ibm.box.com/s/xamwwg62xezptdx6ic8y9cg857uawmq4) for the Carbon website once this task is completed.

[2019-11-21 20:54] JennySanchez commented on #28
**Content draft for Lead Space:**
https://ibm.box.com/s/gyvd3zvxl4vdf1rk0u2y65obceg1c2mp

[2019-11-22 17:16] JennySanchez opened #93 "Finalize Carbon website cupcake vision (IA)"
#### User Story

#### Task
- Scott, Wonil, Lara, Olivia, Jacob, and Jenny to meet regularly to align on the IA work Scott, Jan, and Jeannie are working on right now - issue
- The group will collaborate and assist Scott's IA work by providing feedback based on our understanding of user needs and sharing specific needs from the streams.

#### Acceptance criteria
- [ ] Final IA decision made and acce

[2019-11-22 17:22] JennySanchez commented on #48
@RobertaJHahn FYI, the story points are reduced because we have a fewer page for Jim to review for this task.

[2019-11-22 17:22] JennySanchez commented on #36
@RobertaJHahn FYI, the story points are reduced because we have a fewer page for Jacob to publish for this task.

[2019-11-22 22:47] #61 closed

[2019-11-22 22:47] #29 closed

[2019-11-22 22:47] #33 closed

[2019-11-22 22:47] #59 closed

[2019-11-22 22:47] #49 closed

[2019-11-22 22:47] #64 closed

[2019-11-22 22:47] #60 closed

[2019-11-22 22:47] #15 closed

[2019-11-25 15:10] JennySanchez opened #94 "DGC Design Townhall presentation for Cupcake Website"
![Screen Shot 2019-11-22 at 2.52.43 PM.png](https://images.zenhubusercontent.com/5da0db0a9f0a9500014f53bf/f132b08b-d73a-4d74-adca-eb3a31ce13e0)

[2019-11-25 15:16] JennySanchez opened #95 "Work on the Carbon demo window update and share with the team"
#### Additional information
- Anna updated the demo window and I need to have a conversation with her and find out exactly what changed and the reason behind it so I can share it with our team for alignment purposes.

#### Task
- Collaborate with Anna for the latest design

#### Acceptance criteria
- [ ] Share the updated design with our team

[2019-11-25 15:19] JennySanchez commented on #94
The demo window is a major improvement for the user experience improvement.  I think we should touch on this in the town hall meeting.

[2019-11-25 15:54] larahanlon2 commented on #57
Closing this issue. Documentation is complete as per scope of this story. Will open a new issue for review and final approval of content.

[2019-11-25 15:54] #57 closed

[2019-11-25 19:03] jacobottesen-dgc commented on #35
@JennySanchez Here is the markdown live on the site: https://deploy-preview-96--carbon-for-ibm.netlify.com/contributions

[2019-11-25 21:06] JennySanchez opened #97 "Cupcake website release announcement/communication planning"
#### Task
- Collaborate with Wonil and Linda to aligned on when and how to make the announcement.

#### Acceptance criteria
- [ ] Share the outcome with our team

[2019-11-26 15:06] JennySanchez commented on #35
@jacobottesen-dgc Thank you and I will take a look today.

[2019-11-26 15:07] JennySanchez commented on #10
@ScottBokma FYI.

[2019-11-26 18:10] JennySanchez opened #98 "Cupcake website page content creation - Help/FAQ page"
#### Additional information
- Let's create the content for the current release based on the [v19a](https://www.ibm.com/standards/web/faq.html), Carbon website [FAQ page](https://www.carbondesignsystem.com/help/faq) and input from Linda, Wonil, and Jeff.

#### Acceptance criteria
- [x] A list of the questions published with markdowns
- [x] Reviewed the list with Linda, Wonil, and Jeff.
- [x] Conten

[2019-11-26 18:21] JennySanchez commented on #35
@jacobottesen-dgc

### The links for the Introduction section:

- Ask a question: https://github.com/carbon-design-system/ibm-dotcom-library/issues/new?labels=question&template=question.md
- Report a bug: https://github.com/carbon-design-system/ibm-dotcom-library/issues/new?assignees=emerson-pereira%2C+jacobottesen-dgc&labels=bug&template=bug_report.md
- Request a feature: https://github.com/carbo

[2019-11-26 19:28] JennySanchez opened #100 "Discussion - Can the Cupcake website live on Bluemix?"
#### Additional information
- Wonil suggested having the website inside of the Bluemix

#### Task
- Discuss with Wonil and Jeff to find out if Bluemix is the best place for the Cupcake website to live based on the conditions we have.

#### Acceptance criteria
- [ ] Outcome accepted by Linda
- [ ] Share the updated outcome with our team

[2019-11-26 20:03] JennySanchez opened #101 "Finalize Patterns section IA for the Cupcake website"
#### Additional information
- Define Patterns section IA for the Cupcake website includes:

1. Find out what groups of patterns we have?
2. What patterns are included in each group?
3. How the IA works based on the answers of 1 and 2.

- Collaborate with Lara on the IA.

#### Acceptance criteria
- [ ] IA agreed by Wonil and Scott.

[2019-11-26 20:06] JennySanchez commented on #101
@larahanlon2

I created this issue for us to record the outcome form our conversation today and make sure we finalized on the IA for the Pattern section.

Can you share the latest IA structure and patter list you have here whenever you have a minute?

[2019-11-26 20:08] JennySanchez commented on #101
FYI - @wonilsuhibm @ScottBokma

[2019-11-26 20:11] larahanlon2 commented on #101
Met with Jenny, Wonil, Jacob and Scott today. Presented 8 options for `patterns` IA and agreed on the following as the first step:

![patterns--IA--cupcake](https://user-images.githubusercontent.com/53093550/69668974-f153e980-105e-11ea-8d3b-c0c2324ed721.png)
![patterns--IA--wedding](https://user-images.githubusercontent.com/53093550/69668975-f153e980-105e-11ea-95dc-1ad957fa96ad.png)

[2019-11-26 20:14] JennySanchez commented on #95
### Demo window updated:

Left (Previous version) Right (Updated version)
![Screen Shot 2019-11-25 at 2 04 49 PM](https://user-images.githubusercontent.com/45213839/69669164-f0b75500-1056-11ea-87f2-1cab47e67b76.png)

**Visual differences:**
- The name of the component is added to the upper right-hand corner.
- The option labels under the Modifiers are presented in lowercase.
- The "Variant" label

[2019-11-26 20:19] JennySanchez commented on #95
@wonilsuhibm We need to have a conversation with Alison and Robin to make sure we are aligned on we need the code and assistant to implement the demo window when it's ready, so we can present the component information to adopters the same way Carbon does.

FYI - @jeffchew

[2019-11-26 20:28] JennySanchez opened #102 "Update the Components/Overview page"
#### Additional information

The current cupcake Component overview page can be viewed [here](https://carbon-for-ibm.netlify.com/components).

Tasks:
- [x] A paragraph on all Components detail can be viewed on the Carbon website.
- [x] Add Footer and Masthead cards to the list.
- [x] Possibly link each one of the Component cards to its page on the Carbon website.
- [x] Add the list of the upcoming

[2019-11-26 20:32] JennySanchez commented on #40
@wonilsuhibm I asked about the video for the homepage today. If you know where we can find a selection of video for our homepage, please let me know. :-) Thank you!

[2019-11-26 22:29] JennySanchez commented on #62
@jeffchew

We can not figure out why our list on the [Help page](https://carbon-for-ibm.netlify.com/help) does not look like the list on the Carbon website. The vertical spacing between the items is too big. Can you help?

(What's on our website)
![Screen Shot 2019-11-26 at 4 28 57 PM](https://user-images.githubusercontent.com/45213839/69677985-df2b7880-1069-11ea-8215-f672ad48ef13.png)

(What's on

[2019-11-26 23:38] JennySanchez commented on #100
List this discussion on the December 3rd [Team Huddle agenda](https://ibm.box.com/s/g3bpwxwyknpqldhg8uxfv2n5hka1rvi5).

[2019-11-26 23:45] JennySanchez opened #104 "Cupcake Website - final leadership review"
#### Additional information
- The Cupcake website can be reviewed [here](https://ibm-dotcom-library.netlify.com/).
- The Cupcake website QA will focus on content accuracy.
- All visual and feature enhancement will be listed for the Cupcake v1.1 release.

#### Acceptance criteria
- [ ] A list of the QA items created for Jacob and Jenny to work on in markdowns.
- [ ] Updates reviewed and accepted by

[2019-11-27 16:27] JennySanchez commented on #94
Wonil, For the website, I am thinking of showing three pages that have a new feature or dramatically helping adopter pain points compare to the v19a website.

---

- Components overview page. Adopters now can see all the components we offer in the design kit in one place and know what they look like.
![Screenshot_2019-11-27 Overview](https://user-images.githubusercontent.com/45213839/69741273-60cd

[2019-11-27 16:35] JennySanchez commented on #35
Hi @jacobottesen-dgc

We need to update the text link in the last section from the "Contribution Guide"  to "Contribution Guidelines".

[2019-11-27 16:37] JennySanchez commented on #35
@jacobottesen-dgc Update completed.

[2019-11-27 16:47] wonilsuhibm commented on #94
Hey Jenny, this sounds good to me. Should we also include a slide that covers an overview of your website strategy moving forrwad?

[2019-11-27 16:49] JennySanchez commented on #35
Preview link: https://deploy-preview-105--carbon-for-ibm.netlify.com/contributions/

[2019-11-27 16:51] JennySanchez commented on #35
@jeffchew @wonilsuhibm Can you take a look at the content on the [Contribution page](https://deploy-preview-105--carbon-for-ibm.netlify.com/contributions/) and let Jacob and I know if we need to make any edits? Thank you.

[2019-11-27 16:54] JennySanchez commented on #62
We need to see how we can link individual Coomopoments on the Component Overview page to its page so our adopter can view detail and find guidelines.

Actual page on the Carbon website can be viewed [here](https://www.carbondesignsystem.com/components/overview).

![Screenshot_2019-11-27 Overview](https://user-images.githubusercontent.com/45213839/69743547-39791780-1104-11ea-88eb-b084fc27a201.png)

[2019-11-27 16:59] JennySanchez commented on #94
Sure. I might need some help with this because we do not have a clear vision of how we are going to merge with the Carbon website or timeline around it at this moment.

What do you have in mind?

[2019-11-27 17:23] JennySanchez commented on #101
Looking good and thank you for confirming @larahanlon2.

[2019-11-27 17:31] JennySanchez commented on #36
@jacobottesen-dgc Can you update the left navigation - Layout Patterns section to match the list below? The page title should match the nav listing as well.

- Overview
- Content array
- Lead space
- Simple long form
- Use cases

[2019-12-02 16:35] JennySanchez commented on #36
@jacobottesen-dgc
Note: Reach out to Lara for footer Anatomy section.

[2019-12-02 17:14] JennySanchez opened #107 "Update the Get started/Designing page"
#### Additional information

- The current cupcake Get started/Designing page can be viewed [here](https://carbon-for-ibm.netlify.com/getting-started/designing).

- We need to update the folder naming and path to the "Get the kit" and "Start designing".

#### Acceptance criteria
- [x] Updated content provided by @oliviaflory
- [x] Content and design updated with markdowns.
- [ ] Content and design

[2019-12-02 17:19] JennySanchez opened #108 "Cupcake website content QA - Get started and Components section"
#### Additional information
- The Cupcake website can be reviewed [here](https://carbon-for-ibm.netlify.com/).
- The Cupcake website QA will focus on content accuracy.
- All visual and feature enhancement will be listed for the Cupcake v1.1 release.

#### Acceptance criteria
- [x] A list of the QA items created for Jacob and Jenny to work on in markdowns if needed.

[2019-12-02 17:25] JennySanchez opened #110 "Cupcake website content QA - Get started and Layout Patterns section"
#### Additional information
- The Cupcake website can be reviewed [here](https://carbon-for-ibm.netlify.com/).
- The Cupcake website QA will focus on content accuracy.
- All visual and feature enhancement will be listed for the Cupcake v1.1 release.

#### Acceptance criteria
- [ ] A list of the QA items created for Jacob and Jenny to work on in markdowns if needed.

[2019-12-02 17:58] jacobottesen-dgc commented on #62
@jeffchew Hey! I am having trouble with publishing some content for Sprint 23. I'm not sure why it didn't deploy. Here is the link: https://app.netlify.com/sites/carbon-for-ibm/deploys/5de54bb84bac7900086fe6fb

[2019-12-02 18:19] jacobottesen-dgc commented on #76
@JennySanchez Just finished updating the Patterns Overview page

Live link: https://deploy-preview-111--carbon-for-ibm.netlify.com/patterns

[2019-12-02 18:21] jacobottesen-dgc commented on #36
@JennySanchez Just finishing updating the menu nav

Live link: https://deploy-preview-111--carbon-for-ibm.netlify.com/patterns

[2019-12-02 18:22] jacobottesen-dgc commented on #98
@JennySanchez

FAQ page is ready for review!

Live link: https://deploy-preview-111--carbon-for-ibm.netlify.com/help/faqs

[2019-12-02 21:35] JennySanchez commented on #102
Feedback from Wonil:
It might be a good idea to break the content into two sections - Carbon core components and IBM.com components.

[2019-12-02 21:54] JennySanchez commented on #102
@oliviaflory Can you provide a list of the upcoming components for us to add to the page?

[2019-12-02 22:08] JennySanchez opened #113 "Update the Guidline/Overview page and Get started/Coding page"
#### Additional information
- Current cupcake Guidelines overview page can be viewed [here](https://carbon-for-ibm.netlify.com/guidelines/).

- Current cupcake Get Started Coding page can be viewed [here](https://carbon-for-ibm.netlify.com/getting-started/coding).

#### Acceptance criteria
- [x] Content and design published with markdowns.
- [x] Content and design reviewed with Jenny and Wonil.
-

[2019-12-02 22:10] JennySanchez commented on #113
#### Items for update:

- Update the intro sentence.
- List out all the carbon guidelines and link them out and set them up in the table format with a high-level description of what they are (see Layout Patterns, Type table for reference).
- Add content around what is Guideline.
- Take out "Why do we need guidelines?"

@wonilsuhibm Can you confirm the list covers everything you mentioned?

[2019-12-02 22:20] JennySanchez commented on #98
Our next step is to review the content with Linda and get her input on finalizing the content.

[2019-12-02 22:30] JennySanchez commented on #113
#### Items for Get started-Coding page update:
- Add the metadata or DDO content to the page or another proper spot for adopters to find it easily.

https://ibm.box.com/s/4dfljjgkm9qz3498fbq656qj5ws4r18u

**Nest step:** Work on this with Jeff. Work session set up for Wednesday 1:30 pm CST.
FYI - @jacobottesen-dgc

[2019-12-02 23:09] JennySanchez commented on #93
@ScottBokma I'd assume we will put this task to the backlog until Jan can focus on this with us, correct?

[2019-12-02 23:13] JennySanchez commented on #28
Hi @larahanlon2 , I know you need to add image breakpoint notes still, but if there's anything I can start the publishing process with, please let me know. :-)

[2019-12-02 23:25] larahanlon2 commented on #28
@JennySanchez snap. I just added that info 20mins ago!

@wonilsuhibm do you think Jenny can start publishing what is in the [Box note](https://ibm.ent.box.com/notes/528552262380)? We could continue to edit and refine but it might be helpful to see it in Gatsby as we do that?

[2019-12-03 02:44] ljcarot commented on #98
[My feedback below in red.docx](https://github.com/carbon-design-system/carbon-for-ibm-website/files/3914253/My.feedback.below.in.red.docx)

[2019-12-03 14:01] ScottBokma commented on #93
@JennySanchez Yes, this is on-hold till Jan is assigned back on the IA of Carbon and we are able to get he up to speed at where we are with our IA.

[2019-12-03 15:49] JennySanchez commented on #98
@ljcarot Thank you for reviewing and making edits to the FAQ page content. It makes sense to me and I will make updates to the page.

[2019-12-03 15:54] JennySanchez commented on #101
We updated the left nav to match the outcome, this task is completed.

[2019-12-03 15:56] JennySanchez commented on #95
**Task update:** Signed up to share the demo window update in our team huddle tomorrow.

[2019-12-03 16:10] wonilsuhibm commented on #36
@wonilsuhibm adding myself to this issue. WIll add the anatomy around the footer.

[2019-12-03 16:41] JennySanchez commented on #93
Got it. Thank you for confirming @ScottBokma .

@RobertaJHahn Can we have this task issue moved to the Backlog column? Thank you.

[2019-12-03 17:26] jacobottesen-dgc commented on #113
Here is some potential content for the "What are guidelines?" section:
"Guidelines are a set of fundamentals that bring consistency to IBM’s product and online experiences. This guidance will provide you with a system for creative decision-making. The guidelines below will give you a starting point to design with consistency and quality."

@wonilsuhibm Can you provide some feedback?

[2019-12-03 17:55] RobertaJHahn commented on #93
@JennySanchez Priority label removed.  Moved to backlog pipeline.  Sprint assignment removed.  Done.

[2019-12-03 19:42] JennySanchez commented on #76
@larahanlon2 Do you have high-level descriptions of the Content array, Simple long from, and use cases? We need it for the overview page, Type table (see below). Thank you.

![Screen Shot 2019-12-03 at 12 58 05 PM](https://user-images.githubusercontent.com/45213839/70083645-70eb3680-15d2-11ea-92fd-a6da87a26a38.png)

the layout guideline is coming in Q1 2020

[2019-12-03 20:12] JennySanchez commented on #98
@ljcarot FAQ page update completed and can be viewed on the [Cupcake website](https://carbon-for-ibm.netlify.com/help/faqs).

[2019-12-03 20:15] JennySanchez commented on #94
@wonilsuhibm The presentation slides for the cupcake website portion is attached below.
On page five and page six you will find two options to address the strategy moving forward. Please feel free to pick one and make any edits to make it work for the rest of the presentation slides.
[DGC-design-town-hall--Cupcake Website.key.zip](https://github.com/carbon-design-system/carbon-for-ibm-website/file

[2019-12-03 22:30] jeffchew commented on #100
@JennySanchez @wonilsuhibm @ljcarot We could host it up on bluemix, though we would need to think of the hosting cost in IBM Cloud. Also, would we stay as bluemix, or would we have it under something in www.ibm.com? If the latter, we may not need bluemix and just upload directly to the EI server.

[2019-12-03 23:59] wonilsuhibm commented on #100
@jeffchew considering that this is a closed release to a very small audience, bluemix domain is fine to me.

[2019-12-04 03:49] ljcarot commented on #100
Why do we need special hosting environment?

[2019-12-04 15:47] RobertaJHahn opened #120 "Add analytics tags to the cupcake website"
#### User Story

As a designer for the design system site

measure traffic and engagement on the Carbon for ibm.com web site

report on and plan for the traffic to manage performance

#### Additional information

 - Original Digital Design repo [issue #233](https://zenhub.ibm.com/app/workspaces/digital-design-system-5b3a815a8bf6a932efa6fd03/issues/webstandards/northstar-website-external/233)
 - Di

[2019-12-04 15:56] JennySanchez commented on #35
@jimpistilli Please take a look at the content and let us know if we need to update anything. Thank you.

[2019-12-04 16:21] RobertaJHahn opened #121 "Provide metrics for the wedding cake web site"
#### User Story

As a designer for the design system site

measure traffic and engagement on the Carbon for ibm.com web site

report on and plan for the traffic to manage performance

#### Additional information

 - This is an epic that links all of the stories needed to properly implement the reporting needed

#### Acceptance criteria
 - [ ]  Traffic and engagement reports are available

[2019-12-04 16:35] JennySanchez commented on #95
Demo window update share completed.

[2019-12-04 16:49] JennySanchez opened #122 "Discussion: Carbon component demo window implementation"
#### Additional information
- Latest design for the demo window.
![Screen Shot 2019-12-04 at 10 52 23 AM](https://user-images.githubusercontent.com/45213839/70162929-2b874180-1684-11ea-89fa-837a50a1bff1.png)
![image copy](https://user-images.githubusercontent.com/45213839/70951223-701dc000-2028-11ea-8ed7-0f20b5dd439e.png)

- Vincent Picone is the developer who is working on the demo window.

- As

[2019-12-04 16:53] JennySanchez commented on #122
Discussion call with Vince is scheduled for Thursday, 12/12/2019.

[2019-12-04 16:56] JennySanchez commented on #36
@jacobottesen-dgc We need to add L0 variations to the [Masthead](https://carbon-for-ibm.netlify.com/components/masthead/) page - FYI.

[2019-12-04 17:01] jeffchew commented on #100
We discussed this in Huddle on 12/4/2019, and decided to go with Netlify. URL has been changed to:

https://carbon-for-ibmdotcom.netlify.com/

[2019-12-04 17:02] JennySanchez commented on #100
Perfect. Thanks @jeffchew !

[2019-12-04 17:22] JennySanchez commented on #98
@wonilsuhibm @jeffchew Please take a look and let me know if we missed anything. Thank you.

[2019-12-04 17:40] jacobottesen-dgc commented on #62
@jeffchew Could you take a look at this PR? For some reason has failed multiple times. I'm not sure what is going on.

https://github.com/carbon-design-system/carbon-for-ibm-website/pull/119

[2019-12-04 20:04] JennySanchez opened #128 "Add metadata and DDO content cards to the Resources page"
#### Additional information

(based on the discussion via #113)

- @jeffchew  will create documents for metadata or DDO on our repo [DOC folder](https://github.com/carbon-design-system/ibm-dotcom-library/tree/master/docs). Once it's done, Jeff will provide the URL for linking.

- We will add a section under Development resources on the [Resources page](https://carbon-for-ibmdotcom.netlify.com/reso

[2019-12-04 20:04] JennySanchez commented on #113
Based on the discussion today, we need to create a task issue for us to add a card on the Resources page for metadata and DDO content linking.

Task issue created - #128 for Sprint 24.

[2019-12-05 16:58] JennySanchez commented on #36
@jacobottesen-dgc This is the spec file from Wonil. We need to update the Masthead page/Spec image.

[Component Examples --wonil-s--proposal--1.1.0.sketch.zip](https://github.com/carbon-design-system/carbon-for-ibm-website/files/3928123/Component.Examples.--wonil-s--proposal--1.1.0.sketch.zip)

[2019-12-05 17:03] JennySanchez commented on #28
**Update:** Content reviewed with Jacob and will start the publishing process today.

@RobertaJHahn Sprint 23 ends tomorrow. Please change the Milestone label to Sprint 24 - FYI.

[2019-12-05 17:08] JennySanchez commented on #48
@jimpistilli We need a few items done before you can review the final content. We might need to move this task to Sprint 24.

@RobertaJHahn Sprint 23 ends tomorrow. Please change the Milestone label to Sprint 24.

[2019-12-05 20:15] jimpistilli commented on #35
Edited version here: https://ibm.box.com/s/gow7ntre745fo1iw9qcw9q3q7vdyujmg

cc: @JennySanchez @jacobottesen-dgc

[2019-12-05 20:29] JennySanchez commented on #35
Thank you, @jimpistilli !

[2019-12-05 20:30] jimpistilli commented on #48
@JennySanchez Standing by

[2019-12-05 22:12] oliviaflory commented on #107
Box note with copy updates started [here](https://ibm.ent.box.com/notes/570478708282)

[2019-12-05 22:58] JennySanchez commented on #35
Thank you, @jimpistilli. I will take a look and let you know if I have any questions.

[2019-12-06 00:01] JennySanchez commented on #35
@wonilsuhibm @ljcarot
Contribution overview page content update completed and can be viewed [here](https://carbon-for-ibmdotcom.netlify.com/contributions).

[2019-12-06 00:42] JennySanchez commented on #113
Based on the feedback from Wonil. We will take out the "What is guideline?" and replace it with something that can connect to the guideline list below it better.

[2019-12-06 13:21] RobertaJHahn commented on #28
@JennySanchez issue moved to sprint 24

[2019-12-06 13:24] RobertaJHahn commented on #48
@JennySanchez This issue is moved to sprint 24

[2019-12-06 14:54] ljcarot commented on #35
Looks good to me @JennySanchez @jacobottesen-dgc

[2019-12-06 16:19] JennySanchez commented on #62
@jeffchew Follow up with you on this task issue to see if you need anything or we need to move this to Sprint 24?

[2019-12-06 18:17] JennySanchez opened #152 "Update the Components/Masthead page content"
#### Additional information

The current cupcake Component/Masthead page can be viewed [here](https://carbon-for-ibmdotcom.netlify.com/components/masthead).

We need to update:
1. All the images on the page.
2. Add labels to all L0 and L1 variations.

#### Acceptance criteria
- [x] @larahanlon2 provides the list of the L0 and L1 variations and updated images we need for the page update.
- [ ] Cont

[2019-12-06 18:22] JennySanchez commented on #36
**Task update:**
- The Footer page is published and can be viewed [here](https://carbon-for-ibmdotcom.netlify.com/components/footer/).
- The Masthead page is published but have image and content update work need to be done in Sprint 24. Task issue for the update is #152

[2019-12-06 18:29] JennySanchez commented on #113
**Task update:
- The Guideline page is published and can be viewed [here](https://carbon-for-ibmdotcom.netlify.com/guidelines).

- The Coding page is published but needs to add Metadata and DDO content links. Jeff needs to set it up the content before we can make the update on the website. Task issue #128 is created for the update.

[2019-12-06 18:34] jeffchew commented on #62
Sorry for the delay. I'll take a look at this today.

[2019-12-06 18:51] JennySanchez commented on #62
One more item to check.

I noticed some images look blurry and not sure how we can solve that? Firefox is worse than Chrome.

For example, the Anatomy image on the Footer page.
https://carbon-for-ibmdotcom.netlify.com/components/footer

![Footer_anatomy](https://user-images.githubusercontent.com/45213839/70347785-ebac8f80-1826-11ea-81fc-dc8fc44e338e.jpg)

[2019-12-06 23:48] JennySanchez commented on #62
@jeffchew Thank you for working non-stop to get all the fixes done today. The only thing left is the list set up.

From the PR preview (see below), I can see the vertical space between the section title and list is gone. I am not sure if this has anything to do with the code override you had to do?

![Screen Shot 2019-12-06 at 4 44 57 PM](https://user-images.githubusercontent.com/45213839/70364077

[2019-12-06 23:53] JennySanchez commented on #28
**Items to discuss with Lara:**
- Imagery/Usage: setup
<img width="758" alt="Screen Shot 2019-12-06 at 5 18 09 PM" src="https://user-images.githubusercontent.com/45213839/70364108-cdf42000-1850-11ea-98f6-9d7d367a8b3e.png">

- Border for the images
(should we add a border or not? If yes, Gray 30 (c6c6c6)?
( see Jacob's Sketch file for reference)

- Follow up on "Specifications" images.
(need update

[2019-12-06 23:57] JennySanchez commented on #28
@jacobottesen-dgc  FYI - Discussion scheduled for 12/09 Monday.

[2019-12-09 13:24] #101 closed

[2019-12-09 13:24] #95 closed

[2019-12-09 13:24] #100 closed

[2019-12-09 13:25] #94 closed

[2019-12-09 13:25] #35 closed

[2019-12-09 13:25] #98 closed

[2019-12-09 13:25] #36 closed

[2019-12-09 13:26] #113 closed

[2019-12-09 15:42] wonilsuhibm commented on #40
@JennySanchez Let's go with a still image as the MVP as we discussed, which is what Carbon did in the beginning too. Let me take some pictures here.

[2019-12-09 18:35] oliviaflory commented on #107
Ready for you to review the content @wonilsuhibm Jenny and Jacob will be updating this page in markdown so there is no design mock up.

**Updates have been made to:**
File names, folder names and team names throughout the entire page based on our discussion last week

Added a section for explaining that our kits are for Sponsor adopters only right now, but to reach out to Linda if you'd like early

[2019-12-09 18:52] jacobottesen-dgc commented on #63
@jeffchew I am having some issues with this PR. Could you take a look?
https://github.com/carbon-design-system/carbon-for-ibm-website/pull/162

[2019-12-09 18:58] jacobottesen-dgc commented on #63
@jeffchew For this table:

1.) Could you let the tokens stretch all the out so it doesn't have to be two lines?

2.) Could you add the tags styles to this section? Carbon's component status page has examples: https://www.carbondesignsystem.com/components/component-status

![Screen Shot 2019-12-09 at 11.55.09 AM.png](https://images.zenhubusercontent.com/5da5ed9833f74500019c499f/ebf90e01-d9b1-4a3d-9

[2019-12-09 19:00] jacobottesen-dgc commented on #63
@jeffchew

For this section, could we tighten up the content on the 2 row? The content looks uneven with the rest of the table.

[Uploading... Screen Shot 2019-12-09 at 11.58.45 AM.png ]

[2019-12-09 20:15] oliviaflory commented on #108
### Footer
**Types**

Name | Description
------------ | -------------
Default | Default footer variant includes high-level corporate links that can vary by geographical location and may change periodically. Default footer is automatically generated based on the country and language code that you set on your page in the metadata. The Default footer is recommended for all IBM.com pages.
Minimal | Mi

[2019-12-09 22:24] #62 closed

[2019-12-09 22:49] JennySanchez commented on #28
@jacobottesen-dgc Can you make a review outcome update here?

[2019-12-09 22:54] jacobottesen-dgc commented on #28
@JennySanchez I talked with Lara and here are the outcomes:

- She will get the spec images by EOD
- She wanted left aligned to be h2 but add style options to the end so "Left-aligned style options"

[2019-12-09 22:59] jacobottesen-dgc commented on #63
@jeffchew For these links on the Leadspace page, can we give them a firewall so only IBMers can see access them?

![Screen Shot 2019-12-09 at 3.58.13 PM.png](https://images.zenhubusercontent.com/5da5ed9833f74500019c499f/ff8cbe22-55c1-403f-9c23-e38996b64ba3)

[2019-12-09 23:07] oliviaflory commented on #102
Upcoming components | Description
----|----
Locale selector | Coming soon
Expressive modal | Coming soon
Horizontal rule | Coming soon
Link with icon | Coming soon
Table of contents | Coming soon
Lightbox media viewer | Coming soon

[2019-12-09 23:09] JennySanchez commented on #107
Thank you, @oliviaflory.
@wonilsuhibm Let me know when I have your "good to go".

[2019-12-09 23:15] JennySanchez opened #165 "Create and update the Lead space page/Patterns in use section images"
#### Additional information

- The v1.0 Lead space page can be viewed [here](https://carbon-for-ibmdotcom.netlify.com/patterns/leadspace).

- Below are the examples of the Gallery style images provided by @larahanlon2 for references.![Screen Shot 2019-12-09 at 3.32.50 PM.png](https://images.zenhubusercontent.com/5da0db0a9f0a9500014f53bf/1e3f832d-0702-48b5-8928-ab69c4ad12d3)
![Screen Shot 2019-12-0

[2019-12-09 23:35] JennySanchez commented on #102
"I will try to put together descriptions for us a little later in the week?" - Perfect.

*Question 1:* The list you have is different than the one from Wonil (see below). Which one should I make updates with?

![Screen Shot 2019-12-09 at 5 35 26 PM](https://user-images.githubusercontent.com/45213839/70482136-4e618d80-1aaa-11ea-9801-ad8a8f340486.png)

*Question 2:* The list, In general, are listed

[2019-12-10 02:59] larahanlon2 commented on #28
@jacobottesen-dgc @JennySanchez here's my markup of the current page. 99% of this was covered with Jacob during our call (and thank you Jacob for making some changes already!). Please take a look and let me know if we need to discuss.

![lead space -- cupcake -- page review 01](https://user-images.githubusercontent.com/53093550/70491311-f5f0b700-1ace-11ea-9a1f-e12c3a478bfd.jpg)

[2019-12-10 03:01] larahanlon2 commented on #28
Is there any way we can include anchor links at the top, like before?

[2019-12-10 14:31] oliviaflory commented on #102
@JennySanchez

I'd like to go with my list, there are a few like "embeddable image" that we don't know _enough_ about what it is to write a description / don't know if that's what we will really name the component.

Masthead (L0) and footer are already available so they don't belong in that list either.

The Masthead (L1) is behind a feature flag and also not available yet, though we might address

[2019-12-10 16:08] JennySanchez commented on #102
@oliviaflory Perfect! I will make the update on live page asap.

[2019-12-10 16:25] JennySanchez commented on #40
@wonilsuhibm I was thinking the same thing. Do you have the link to the image library?

[2019-12-10 19:27] larahanlon2 commented on #152
Provided Jenny and Jacob with the following updated visuals:
– L0 variations
– L1 variations
– L0-L1 breakpoints
– L0-L1 anatomy

Sketch file can be found [here](https://ibm.box.com/s/ruhfsfxtafa15cr1iu25qrvzno6qesgm).

[2019-12-10 23:17] jacobottesen-dgc commented on #40
Hey @jeffchew I was working on the Homepage and making edits and the deploy failed. Is there anyway you could go in and fix whatever is wrong?

https://github.com/carbon-design-system/carbon-for-ibm-website/pull/162

[2019-12-10 23:20] JennySanchez commented on #128
Hi @jeffchew
Any update on creating the metadata and DDO documents on our repo DOC folder?
Do you have a dev issue created for me to add as a dependency?

[2019-12-11 00:12] JennySanchez commented on #40
@jacobottesen-dgc Below is a homepage banner image I quickly put together for code testing and markdown set up.

Please note:
- The image concept is to show an adopter working with the Design Kit or browsing the Carbon for IBM.com website.
- The mockup image is from the IDL image library and will be replaced later.

![0100041_Oppemann_PE_edit](https://user-images.githubusercontent.com/45213839/705

[2019-12-11 14:23] jeffchew commented on #128
@JennySanchez @jacobottesen-dgc documentation has been added to the IBM.com Library repo: https://github.com/carbon-design-system/ibm-dotcom-library/blob/master/docs/building-for-ibm-dotcom.md

[2019-12-11 16:37] JennySanchez commented on #128
@jeffchew Thank you.

[2019-12-11 17:47] jacobottesen-dgc commented on #28
@larahanlon2 Jenny said that Carbon is planning to remove the anchor links so we will not have them at this time. Reach out to her for more info.

cc. @JennySanchez

[2019-12-11 17:51] JennySanchez commented on #28
@larahanlon2 We are not using the anchor link feature in Cupcake v1.0. Some of the changes are good to go but some of them are not what we can control with the code. Let's chat.

[2019-12-11 18:29] JennySanchez commented on #128
Resource page updated and can be viewed [here](https://carbon-for-ibmdotcom.netlify.com/resources/).

[2019-12-11 18:36] jeffchew commented on #128
It's going to the docs folder, but the `building for ibm.com` page should go here:
https://github.com/carbon-design-system/ibm-dotcom-library/blob/master/docs/building-for-ibm-dotcom.md

[2019-12-11 21:18] JennySanchez commented on #107
@oliviaflory I checked with Wonil and I think we are good to go.

**Question:**
"If you are not a Sponsor Adopter and would like access to the kits to preview the components before they are officially released, please request access through `Github`."

For the `Github` link, is the "Design Kit access request" Git template created? I can link it to our Git repo issue template page for now if it's n

[2019-12-12 18:33] JennySanchez commented on #152
Image updates for the [Masthead page](https://deploy-preview-182--carbon-for-ibmdotcom.netlify.com/components/masthead) based on the conversation with Lara today:

For L0 and L1:
![Screen Shot 2019-12-12 at 11 34 19 AM](https://user-images.githubusercontent.com/45213839/70738976-6ff58b80-1cdb-11ea-974f-a2325f43ca74.png)

For the Behaviors:
![Screen Shot 2019-12-12 at 11 41 13 AM](https://user-imag

[2019-12-12 19:11] JennySanchez commented on #152
All updates are done and the page can be viewed [here](https://carbon-for-ibmdotcom.netlify.com/components/masthead).

[2019-12-12 19:15] JennySanchez commented on #76
Layout overview page updates completed and can be viewed [here](https://carbon-for-ibmdotcom.netlify.com/patterns).

@larahanlon2 @wonilsuhibm Let me know if we missed anything for the v1.0.0 release.

[2019-12-12 19:46] JennySanchez commented on #108
@ScottBokma Can you assist Olivia with her questions?

[2019-12-12 19:55] ScottBokma commented on #108
@oliviaflory The current IBM footer content is coming from the IBM homepage and that team would know best for any questions you have about the footer. Peter Barros leads that team and is my main contact when I have questions about the IBM nav, homepage and footer.

[2019-12-12 21:04] jacobottesen-dgc commented on #63
Hey @jeffchew I am having issues with nest bullet points. Could you help me fix this? The issue is on the lead space page under specs.

![Screen Shot 2019-12-12 at 2.03.20 PM.png](https://images.zenhubusercontent.com/5da5ed9833f74500019c499f/d7146dee-caca-42da-8e59-6172aeeea361)

https://carbon-for-ibmdotcom.netlify.com/patterns/leadspace

[2019-12-12 21:06] jacobottesen-dgc commented on #76
@JennySanchez @larahanlon2

This is finished based on the content that Lara gave me. I think is it ready for review!

Live Link: https://deploy-preview-188--carbon-for-ibmdotcom.netlify.com/patterns

[2019-12-12 21:07] JennySanchez commented on #122
**A few findings from the discussion today:**
- The menu items on the right-hand side of the panel are driven by React code (.gen data - we do not use this currently) that is custom created and we need to figure out how to apply the code.

- We do not know how the demo window theming changes is going to work since it's styled with a CSS style (props .gen data). We probably will need to create cust

[2019-12-12 21:20] oliviaflory commented on #107
@JennySanchez  I just finished updating the copy, we ran our design kit name by Carbon team and ended up needing to make some changes.

The orange type indicates when the text should be set in the inline `code snippet` style.
I updated a few links

Let me know if you have any questions!

Link to [boxnote](https://ibm.ent.box.com/notes/570478708282)

I just created the template to request access, a

[2019-12-12 21:33] JennySanchez commented on #107
Sounds good, @oliviaflory !

[2019-12-12 21:43] oliviaflory commented on #102
We need to update the Masthead card image to remove the blue CTA button.
<img width="354" alt="Screen Shot 2019-12-12 at 4 22 05 PM" src="https://user-images.githubusercontent.com/45692622/70750129-c96db280-1cfb-11ea-8ac1-7ce06cc97c99.png">

Carbon shows the icons in the UI shell image
<img width="305" alt="Screen Shot 2019-12-12 at 4 30 01 PM" src="https://user-images.githubusercontent.com/456926

[2019-12-12 21:49] jacobottesen-dgc commented on #107
@oliviaflory Perfect. Thanks for all the help. I'll start adding this content to the page.

[2019-12-12 22:02] JennySanchez commented on #102
@oliviaflory @jacobottesen-dgc

- [ ]  Yes, We need to update the Masthead card image to remove the blue CTA button.

<img width="354" alt="Screen Shot 2019-12-12 at 4 22 05 PM" src="https://user-images.githubusercontent.com/45692622/70750129-c96db280-1cfb-11ea-8ac1-7ce06cc97c99.png">

- [ ] For Mastehead, let's go with the image in the middle (square skeleton state for icons option) since it matc

[2019-12-12 22:28] larahanlon2 commented on #152
@JennySanchez @jacobottesen-dgc

@oliviaflory and I reviewed the masthead page. Take a look at suggestions/changes below and let us know if all is doable. Thanks!
...
**Section:** Titles
**Content:** Never use a logo and/or image for the title.
**Change:** Please move this last bullet point to its own line as this applies to both L0 and L1

—

**Section:** Nav Labels
**Change 01:** Please update t

[2019-12-12 22:35] JennySanchez commented on #152
Jacob and I take a look at the edits and we are good to make updates. If we have questions, we will reach out.

[2019-12-12 22:48] oliviaflory commented on #107
Olivia to provide links for the following:
- [ ] Request access to design kit `Github` link
- [ ] Link to White design kit
- [ ] Link to Gray design 90 kit
- [ ] Link to IBM.com library kit

[2019-12-12 22:52] JennySanchez opened #191 "Update the Components/Overview Page (card title type styling)"
As a Carbon for IBM.com website creator

I need to present the components in the same set up on the overview page

So that our website page looks at its best with consistency.

#### Additional information
- The Components Overview page can be viewed [here](https://carbon-for-ibmdotcom.netlify.com/components).
- We need to update the type style to match what Carbon has.
![Screen Shot 2019-12-12 at

[2019-12-12 22:55] JennySanchez commented on #191
@jeffchew Please add the story point to this issue when you started.
@RobertaJHahn FYI.

[2019-12-12 22:59] JennySanchez commented on #40
@wonilsuh we need help with a paragraph for the homepage.

This is what we currently have:
"Carbon for IBM.com is an open source design system for IBM online experiences. It is for the community of designers, developers, and anyone involved in the making of marketing and editorial experiences on IBM.com."

**Problem:**
- It's not open source.
- Jeff brought up a good point: There will be folks tha

[2019-12-12 23:06] JennySanchez commented on #102
@jacobottesen-dgc Link to the "Upcoming components" description: https://ibm.ent.box.com/notes/573320778659

[2019-12-13 00:11] JennySanchez commented on #102
@jacobottesen-dgc Mike mentioned the images for the Footer and Masthead cards need refinement. I agreed with him, so can you attach the image work file here and I will update the image on Monday? Just wanna add the comment here so I won't forget.

![Screen Shot 2019-12-12 at 6 08 09 PM](https://user-images.githubusercontent.com/45213839/70759108-d2b24b80-1d0a-11ea-86f3-0cad56fc2ade.png)

[2019-12-13 00:20] mjabbink commented on #191
Also the thin divider rule between cards should be grey 20.

[2019-12-13 00:23] mjabbink commented on #191
https://gatsby-theme-carbon.now.sh/components/ResourceCard#example

[2019-12-13 00:25] mjabbink commented on #191
@JennySanchez
— Your illustration for Masthead should reflect the two heights for L0 and L1.

— Footer 8-bar shape should reflect proportion of 8-bar and headers over lists are just bolder not larger type and no extra spacing under them.

:wink:

[2019-12-13 03:07] wonilsuhibm commented on #40
The whole paragraph feels written for a truly open source design system that anyone can adopt and build their own design system. We are only for IBM. URX is using the productive theme at the moment, but will switch to the expressive theme.

But Jeff does bring up a good point - not all experiences on IBM.com are editorial or marketing (in the narrower sense of the word). Let's rewrite it. How abou

[2019-12-13 14:07] jeffchew commented on #40
I like it. Adding @ljcarot for feedback as well.

[2019-12-13 15:54] ljcarot commented on #40
I agree. I like it!

[2019-12-13 20:24] jacobottesen-dgc commented on #107
All updates have been made to the designing page. Just needs a few updates on links coming soon.

Live link: https://deploy-preview-193--carbon-for-ibmdotcom.netlify.com/getting-started/designing

cc. @JennySanchez @oliviaflory

[2019-12-13 22:02] jacobottesen-dgc commented on #102
I updated the Component overview page with the new component descriptions from Olivia. I also updated the image for the masthead. I fixed the text size on the image cards but now the text is at the bottom of the card.

Live link: https://deploy-preview-196--carbon-for-ibmdotcom.netlify.com/components/

![Screen Shot 2019-12-13 at 3.02.04 PM.png](https://images.zenhubusercontent.com/5da5ed9833f7450

[2019-12-16 18:53] JennySanchez commented on #40
I like the copy as well. We will add this to the homepage. Thanks everyone!

[2019-12-16 20:33] JennySanchez commented on #191
@mjabbink I do not and will reach out to her.

[2019-12-16 20:47] JennySanchez commented on #191
@jeffchew  For the [Components/Overview page](https://carbon-for-ibmdotcom.netlify.com/components) Jacob and I tried to make the card title work but the `font styling`, `title location`, and `horizontal spacing between cards` still not correctly displayed. This is the latest we have:
![Screen Shot 2019-12-16 at 2 39 40 PM](https://user-images.githubusercontent.com/45213839/70941389-f084f680-2011-1

[2019-12-16 20:58] JennySanchez commented on #63
- [ ] Bullet points in number styling alignment fix:
![Screen Shot 2019-12-16 at 2 58 24 PM](https://user-images.githubusercontent.com/45213839/70942562-8a4da300-2014-11ea-9607-168cdedd2305.png)

[2019-12-16 21:23] oliviaflory commented on #107
## Let's hold on these updates for now, posting here so I can remember them all and update when we finalize some of the naming

Found a few things I missed! Updated in the Boxnote, but also here:

1. Link for [Github](https://github.com/carbon-design-system/carbon-for-ibm.com-design-kit/issues/new?assignees=ljcarot%2C+wonilsuhibm%2C+oliviaflory&labels=adopter+support&template=request-access.md&tit

[2019-12-16 21:44] JennySanchez commented on #63
- [ ] Storybook naming confirmation:

@jeffchew I want to make sure we have consistency with the storybook naming. This is what we currently have for the `Component`(left) and `Pattern`(right).
<img width="784" alt="Screen Shot 2019-12-16 at 1 44 30 PM" src="https://user-images.githubusercontent.com/45213839/70945239-5e352080-201a-11ea-8a66-012be32c521f.png">
---

**Does it make sense to call it:*

[2019-12-16 21:51] jacobottesen-dgc commented on #63
@jeffchew I am not sure how to change the icons on the on the homepage. They are formatted differently than cards on our other pages. Could you help out with that?

![Screen Shot 2019-12-16 at 2.49.33 PM.png](https://images.zenhubusercontent.com/5da5ed9833f74500019c499f/f5a350cf-8f86-4e72-b9cc-481fa64b2b5b)

[2019-12-16 22:45] JennySanchez commented on #40
Homepage "Carbon for IBM.com " section copy completed and can be viewed on [Homepage](https://carbon-for-ibmdotcom.netlify.com/).

[2019-12-17 00:26] JennySanchez commented on #102
@mjabbink Below are the updated images for the Footer and Masthead, please let me know what do you think.

![Screen Shot 2019-12-16 at 6 26 27 PM](https://user-images.githubusercontent.com/45213839/70954151-9ac04680-2031-11ea-9f81-0015a172c443.png)

[2019-12-17 00:29] oliviaflory commented on #108
@wonilsuhibm you asked me to yell at you :)

Need to work out the footer generation and descriptions for default and minimal footer.

[2019-12-17 14:38] jeffchew commented on #63
PR opened for this: https://github.com/carbon-design-system/carbon-for-ibm-website/pull/206

[2019-12-17 14:40] jeffchew commented on #63
That will be pretty challenging at the moment, we would need to set that up across all of the netlify outputs and would take some effort. I actually am wondering if this is worth doing, and the netlify outputs are also referenced in the markdown code in the codebase as well so it might confuse people.

[2019-12-17 14:54] jeffchew commented on #63
Pushed up this fix in the same PR: https://github.com/carbon-design-system/carbon-for-ibm-website/pull/206

[2019-12-17 16:16] JennySanchez commented on #108
@oliviaflory @wonilsuhibm Besides of the footer generation and descriptions for default and minimal footer. Please start the reviewing process and making the QA list. Thank you.

[2019-12-17 16:17] JennySanchez commented on #110
@ScottBokma @larahanlon2 @wonilsuhibm Please start the reviewing process and making the QA list. Thank you.

[2019-12-17 16:20] JennySanchez commented on #104
@ljcarot @wonilsuhibm @jeffchew
Please start the reviewing process and making the QA list. FYI - Homepage is still in work progress. Thank you.

[2019-12-17 16:22] JennySanchez commented on #48
@jimpistilli Please start taking a look at the website as a whole and making the QA list - focus on Typo, weird paragraph, and general content edits. Thank you.

[2019-12-17 18:19] oliviaflory commented on #108
@wonilsuhibm I propose that we remove the descriptions of how the footer is generated for the initial release, and create a story for one of the developers to write content for that within the v1.1 website release cycle. We're too close to publishing date to ask the devs to pause any of the work they have scheduled for this sprint.

Proposed footer content re-write:

Name | Description
-----------

[2019-12-17 18:41] jeffchew commented on #63
My vote is for:

- `IBM.com Library Components (React)`
- `IBM.com Library Patterns (React)`

Storybook is already in the heading, so adding storybook would be redundant.

[2019-12-17 19:18] mjabbink commented on #102
yes.

[2019-12-17 20:09] JennySanchez commented on #102
@jacobottesen-dgc Let's update the images.
![Screen Shot 2019-12-17 at 2 05 57 PM](https://user-images.githubusercontent.com/45213839/71030252-b7628a00-20d6-11ea-8aa4-3b537f5eed37.png)
[Updated footer and masthead images.sketch.zip](https://github.com/carbon-design-system/ibm-dotcom-library-website/files/3975241/Updated.footer.and.masthead.images.sketch.zip)

[2019-12-17 20:15] oliviaflory commented on #107
ok @jacobottesen-dgc and @JennySanchez based on the naming decision from today (Dec 17) to name our website and respective products `IBM.com Library`  I've updated the Get started designing [Box Note](https://ibm.ent.box.com/notes/570478708282) to reflect all naming changes and link updates.

I also caught a few things I missed in the first round of writing.

**All updates are in PURPLE** 💜

Let m

[2019-12-17 21:23] oliviaflory commented on #108
My QA comments for Overview and Masthead page:

### Overview

- [ ] Update "Carbon for IBM.com" to "IBM.com Library"

<img width="618" alt="Screen Shot 2019-12-17 at 4 12 09 PM" src="https://user-images.githubusercontent.com/45692622/71035129-d5d18100-20e8-11ea-8e82-0ab617f5c461.png">

---

- [ ] Update to "IBM.com Library components"
<img width="491" alt="Screen Shot 2019-12-17 at 4 12 58 PM" src

[2019-12-17 22:02] JennySanchez commented on #40
@wonilsuhibm I need your feedback on the following image selections for the [Homepage](https://ibm-dotcom-library.netlify.com/). I would like to try the illustrations you created in the past as well, if you have anything, please share with me.

#### Designing

![Screen Shot 2019-12-17 at 3 47 47 PM](https://user-images.githubusercontent.com/45213839/71037177-cd774700-20e4-11ea-88e3-62fd978f3dab.pn

[2019-12-17 23:08] oliviaflory commented on #107
@wonilsuhibm on this page we refer to our team as "Carbon for IBM.com team" we should decide if we want to update the name or leave it.

[2019-12-17 23:27] oliviaflory commented on #107
@jacobottesen-dgc one more update, the folder has been renamed to: `IBM.com Library Design kit`

It will need to be updated on the website, marked it in Red within the Boxnote

[2019-12-18 12:36] larahanlon2 commented on #110
Hey @JennySanchez will all the `Carbon for IBM.com` titles/labels/mentions across the site need to change now that we are moving forward with `IBM.com Library`? https://ibm-dotcom-library.netlify.com/getting-started

[2019-12-18 15:51] jacobottesen-dgc commented on #102
@JennySanchez Images have been updated. Live link: https://ibm-dotcom-library.netlify.com/components/

[2019-12-18 15:55] jacobottesen-dgc commented on #63
@jeffchew Having issues with lists on the masthead page ![Screen Shot 2019-12-18 at 8.55.09 AM.png](https://images.zenhubusercontent.com/5da5ed9833f74500019c499f/99d9dd90-764e-4e9a-8d42-71cd6767c8de)

[2019-12-18 16:03] JennySanchez commented on #40
@wonilsuhibm Round two images options for the Latest updates section.

FYI: Slack logo usage is following the Slack logo [usage guideline](https://a.slack-edge.com/0f43e/marketing/img/media-kit/Slack-Brand-Guidelines.pdf).

![Screen Shot 2019-12-18 at 9 50 33 AM](https://user-images.githubusercontent.com/45213839/71102173-a28d0180-217d-11ea-809d-71de73a65f33.png)

[2019-12-18 16:53] jeffchew commented on #63
Fixed in this PR: https://github.com/carbon-design-system/ibm-dotcom-library-website/pull/214

[2019-12-18 16:56] jimpistilli commented on #48
Uploading each page as I review to the folder here:

https://ibm.ent.box.com/folder/96909803794

cc: @JennySanchez @jacobottesen-dgc

[2019-12-18 17:01] jeffchew commented on #63
Fixed in PR: https://github.com/carbon-design-system/ibm-dotcom-library-website/pull/215

[2019-12-18 17:36] JennySanchez commented on #63
- [ ] General spacing fix
(especially below the H2)
![Screen Shot 2019-12-18 at 11 36 26 AM](https://user-images.githubusercontent.com/45213839/71109381-ad9a5e80-218a-11ea-99f4-0d16648c5374.png)

[2019-12-18 18:15] JennySanchez commented on #40
**Update:** Received feedback from Mike and will work on the edits.

[2019-12-18 18:22] jacobottesen-dgc commented on #107
@oliviaflory I am getting broken links for the theme cards on the designing page. Do you have an updated link?

Designing page live: https://deploy-preview-213--ibm-dotcom-library.netlify.com/getting-started/designing

[2019-12-18 18:33] jeffchew commented on #63
Fixed with PR: https://github.com/carbon-design-system/ibm-dotcom-library-website/pull/218

[2019-12-18 20:05] jimpistilli commented on #48
All pages reviewed and suggested edits in PDFS in the folder below: https://ibm.ent.box.com/folder/96909803794

cc: @JennySanchez @jacobottesen-dgc @wonilsuhibm

[2019-12-18 22:06] JennySanchez commented on #48
Got it. Thanks, @jimpistilli . I will take a look and let you know if I have questions.

[2019-12-19 15:45] annawen1 opened #221 "Global header overlapping "Get Started" card link in homepage"
## Detailed description

When landing on the homepage, the global header is overlapping the "Get Started" card

Bug

Chrome

## Additional information

<img width="1672" alt="Screen Shot 2019-12-19 at 10 39 28 AM" src="https://user-images.githubusercontent.com/54281166/71187219-a045a880-224c-11ea-8af2-819e70e7df77.png">

[2019-12-19 16:44] jacobottesen-dgc commented on #107
@oliviaflory These links on the Get started designing page don't work. Do you know where we can get the correct links?

![Screen Shot 2019-12-19 at 9.40.00 AM.png](https://images.zenhubusercontent.com/5da5ed9833f74500019c499f/dd376114-d66b-49a4-a162-d9809e2fc505)

cc. @JennySanchez

[2019-12-19 17:01] JennySanchez commented on #63
- [ ] Table "tag" styling.

@jeffchew I tried to applied the styling to other pages but failed.

Pages we need to applied the same "tag" styling to:
- https://ibm-dotcom-library.netlify.com/components
- https://ibm-dotcom-library.netlify.com/components/footer
- https://ibm-dotcom-library.netlify.com/components/masthead
- https://ibm-dotcom-library.netlify.com/patterns/leadspace

![Screen Shot 2019

[2019-12-19 17:03] JennySanchez commented on #40
**Where I left yesterday:**
![Screen Shot 2019-12-18 at 8 18 04 PM](https://user-images.githubusercontent.com/45213839/71193126-324eb080-224f-11ea-829b-e63c32b77ce4.png)

[2019-12-19 17:08] JennySanchez commented on #48
Review work from Jim is completed and the task issue will be moved to the Done column.

[2019-12-19 17:24] JennySanchez commented on #152
This task is completed. Items need to be fixed are recorded in the dev fix issue #63.

[2019-12-19 17:24] JennySanchez commented on #28
This task is completed. Items need to be fixed are recorded in the dev fix issue #63.

[2019-12-19 17:25] JennySanchez commented on #76
This task is completed. Items need to be fixed are recorded in the dev fix issue #63.

[2019-12-19 17:27] JennySanchez commented on #102
https://github.com/carbon-design-system/ibm-dotcom-library-website/issues/63

[2019-12-19 17:28] JennySanchez commented on #107
Reached out to @jeffchew and @wonilsuhibm yesterday via Slack to find the links as well.

[2019-12-19 17:34] JennySanchez commented on #97
@wonilsuhibm Let's discuss this in our huddle this afternoon as well.

[2019-12-19 17:35] wonilsuhibm commented on #107
This is the Box link: https://ibm.box.com/s/fdoqr1qb4agyoys5j8wo19eab60m4ek1

[2019-12-19 17:37] JennySanchez commented on #63
👉 Wanna make sure we don't forget #191

[2019-12-19 17:44] jeffchew commented on #191
We might have to override styling of the Gatsby theme to make this look right.

[2019-12-19 18:13] jeffchew commented on #191
Fixed and pushed up to master.

[2019-12-19 18:33] JennySanchez opened #227 "Study and update the "tag" label text and styling"
#### Additional information
- The tag keys information can be viewed on the Carbon website [here](https://www.carbondesignsystem.com/components/component-status).

![Screen Shot 2019-12-19 at 12.33.30 PM.png](https://images.zenhubusercontent.com/5da0db0a9f0a9500014f53bf/b45dce8e-2af9-40b2-9d08-995dea40b2db)

#### Acceptance criteria
- [ ] All tag labels are updated and live on the website.

[2019-12-19 18:34] JennySanchez commented on #227
@jacobottesen-dgc FYI.

[2019-12-19 18:37] JennySanchez commented on #93
**Task update:** Met with Scott today. Scott will save all related work files to the website BOX folder and a follow-up call for tomorrow morning is scheduled as well for final handoff.

[2019-12-19 18:50] wonilsuhibm commented on #108
# Footer

### Intro copy suggestion

#### Before
`The footer is a required navigational element that displays consistently at the bottom of each page of IBM.com. `

#### After
`The footer is a section that sites at the bottom of any IBM.com page, and acts as the catch–all section that helps users navigate, provides corporate level general and legal informations. The footer is required on all pages

[2019-12-19 20:16] JennySanchez commented on #40
Based on the discussion...

- [ ] Jenny will export the images for the "Latest updates" section and have it ready for Jeff to work on the image upload.
- [ ] Jenny will share the work file with Wonil and Jacob for hero image exploration.
- [ ] Jenny and Wonil will keep going with the image exploration on the "Getting started" section.
- [ ] Wonil will provide hero image options for final selection

[2019-12-19 20:23] JennySanchez commented on #110
Yes, it's on the QA list and the content update is completed.
This task is completed. All other Dev. related fix are recorded in the dev fix issue #63.

[2019-12-19 20:32] JennySanchez opened #229 "Review the "content order structure" for the Components and Layout patterns sections"
#### Additional information

(Feedback from Wonil)
The current content structure doesn't make much sense to me. I completely understand that we are following Carbon template, but the current structure where the description of the two versions is separate from the visuals is really throwing me off, and is a bad user experience.

(The content order structure suggested by Wonil)
1. Intro copy
2. Defa

[2019-12-19 20:32] JennySanchez commented on #108
Based on the discussion we had, we will update the intro copy for the release tomorrow and look at the content order structure post-release (issue created - #229)

[2019-12-19 20:43] JennySanchez commented on #63
- [ ] The  "Latest update" section cards should have 16 px spacing in between them.
![Screen Shot 2019-12-19 at 2 42 51 PM](https://user-images.githubusercontent.com/45213839/71208082-e828f780-226d-11ea-8a36-94e12fcdbdac.png)

[2019-12-19 21:14] JennySanchez commented on #40
**Latest update section images:**
(Image size)
![Screen Shot 2019-12-19 at 3 12 06 PM](https://user-images.githubusercontent.com/45213839/71209797-10b2f080-2272-11ea-9de1-36285b6bee7c.png)
![Screen Shot 2019-12-19 at 3 11 17 PM](https://user-images.githubusercontent.com/45213839/71209821-1e687600-2272-11ea-9835-069b0d11586a.png)
[Updated footer and masthead images.sketch.zip](https://github.com/ca

[2019-12-19 21:28] JennySanchez commented on #63
- [ ] Vertical spacing below the list.

What we currently have on the website - too much vertical spacing.
![Screen Shot 2019-12-19 at 3 06 07 PM](https://user-images.githubusercontent.com/45213839/71210598-dbf36900-2272-11ea-8a9d-253a82f73520.png)

It should only be a line break and looks like this.
![Screen Shot 2019-12-19 at 3 27 30 PM](https://user-images.githubusercontent.com/45213839/7121115

[2019-12-19 21:38] JennySanchez commented on #229
FYI - @wonilsuhibm

[2019-12-19 21:42] JennySanchez commented on #108
Update completed and all other Dev. related fix are recorded in the dev fix issue #63.

[2019-12-19 21:44] JennySanchez commented on #97
Based on the discussion today:
1. Wonil will provide a list of the senior designers by EOD for us to announce the soft launch tomorrow.
2. We will do the website lunch for all DGC designers in January.

[2019-12-19 21:46] JennySanchez commented on #104
@jeffchew shared his review items with Jacob and I - FYI.

[2019-12-19 21:55] JennySanchez commented on #191
@jeffchew I looked again and I think the card title is in IBM Plex Mono?

Our current set up:
![Screen Shot 2019-12-19 at 3 47 59 PM](https://user-images.githubusercontent.com/45213839/71212763-92594d00-2277-11ea-94fe-8b171ca3d95a.png)

Carbon set up:
View live page [here](https://www.carbondesignsystem.com/components/overview)
![Screen Shot 2019-12-19 at 3 48 15 PM](https://user-images.githubuser

[2019-12-19 22:12] JennySanchez commented on #107
Links updated and task completed.  All other Dev. related fix are recorded in the dev fix issue #63.

[2019-12-19 22:54] JennySanchez opened #234 "Make sure the "Token label" can be displayed in one line"
#### Additional information
- [ ] Status labels and Token labels work will be done via issue #227

![Screen Shot 2019-12-19 at 4.52.05 PM.png](https://images.zenhubusercontent.com/5da0db0a9f0a9500014f53bf/73b2a891-68eb-470d-badc-2e1e6f36a64c)

#### Acceptance criteria
- [ ] Token label can be displayed in one line on the live website.

[2019-12-20 09:35] larahanlon2 commented on #229
I can understand the feedback for `footer` as there is not that much content. @JennySanchez is the idea to show an overview of the entire component/pattern at the top so that adopters can, at a glance, see everything that is included? If so, the current way makes more sense. Especially when there is a lot of content because users have to scroll so far to see the different examples.

For `lead spac

[2019-12-20 15:14] wonilsuhibm commented on #97
As discussed, let's announce to all DGC design org members through the `dgc-design` channel as a soft launch on Monday, Dec 23rd.

"We would like your feedback" as the main message.

[2019-12-20 15:34] #128 closed

[2019-12-20 15:35] #122 closed

[2019-12-20 15:35] #48 closed

[2019-12-20 15:35] #152 closed

[2019-12-20 15:35] #28 closed

[2019-12-20 15:35] #102 closed

[2019-12-20 15:35] #76 closed

[2019-12-20 15:35] #107 closed

[2019-12-20 15:35] #108 closed

[2019-12-20 15:35] #110 closed

[2019-12-20 17:54] mjabbink commented on #191
Those images for footer and masthead are incorrect

Also no need to override. What you’re trying to do is very doable in Gatsby theme

[2019-12-20 17:55] JennySanchez commented on #97
@wonilsuhibm Sounds good. What do you think of the message below?

"@channel IBM.com Library team is doing a dark launch with our website. You can tell all the IBMers if you are excited, but it is not available to adopters as of yet. We would love your feedback! I’ve created a box note for our team to gather all the feedback from you around the different components, resources, and overall general

[2019-12-20 18:47] JennySanchez opened #239 "Make website release announcement on Slack"
This is a follow up task of #97.

#### Acceptance criteria
- [x] Post the approved message on dgc-design Slack channel.

#### Message
`@channel IBM.com Library guideline website is now available to DGC designers for preview. This is the beginning of the new design standards website for all IBM.com makers. This website is supplementary to CarbonDesignSystem.com and will cover many essential topics

[2019-12-20 20:46] jeffchew commented on #191
Hi @mjabbink ,

while it's very doable for regular pages with the `.container` class, it seems to not apply for the homepage specifically, since the row/column classes for the small gutter columns are targeted for `.container` and not `.container--homepage`, which is what is happening here. I had to write some override classes to apply to the homepage as well, but might be something we would want

[2019-12-20 21:21] JennySanchez commented on #40
**Final Homepage design for the v1.0.0:**

![Homepage - Final](https://user-images.githubusercontent.com/45213839/71293582-80d97900-233b-11ea-82b8-f16476078e21.jpg)

---

- Homepage work file (IBM.com_library_website-Homepage_design-v2) can be found in the [BOX folder](https://ibm.box.com/s/gs0apv3kyopoiy72o3gphefbdm0op8xx).

- Homepage images can be found in the [BOX folder](https://ibm.box.com/s

[2019-12-20 21:24] JennySanchez commented on #104
@wonilsuhibm has shared his findings with Jacob and I so we can make updates or create new task issues for us to revisit after the v1.0.0 release.

[2019-12-20 21:55] JennySanchez opened #242 "Retro for the Gatsby theme website building process"
#### Tasks

- [x] Set up a Gatsby Theme website development retro - Jeff, Wonil, Jacob, and Jenny.
- [x] Create a list of the retro items to share with the Carbon Team.

#### Acceptance criteria
- [ ] Share the outcome with the Carbon Team.

[2019-12-20 21:58] JennySanchez commented on #242
**Items to be recorded from #191**

![Screen Shot 2019-12-20 at 3 09 56 PM](https://user-images.githubusercontent.com/45213839/71295451-820da480-2341-11ea-85ae-19311a2f273b.png)

[2019-12-20 23:27] mjabbink commented on #191
@jeffchew and @JennySanchez Not sure I follow? Is the Carbon homepage not Gatsby? Does it have overrides?

[2019-12-20 23:35] mjabbink commented on #191
the article cards are spaced too far apart in current staging site.
https://gatsby-theme-carbon.now.sh/components/ArticleCard

[2019-12-20 23:37] mjabbink commented on #191
This looks odds Feature card component has the issue of the card not bleeding on the right side. The latest version of Gatsby resoled this exact issue so do you need to update or is this a bug?

<img width="531" alt="Screen Shot 2019-12-20 at 5 30 40 PM" src="https://user-images.githubusercontent.com/32881239/71298793-6a3d1d00-234f-11ea-9ee9-a3dd46df2cea.png">

[2019-12-20 23:43] mjabbink commented on #191
@JennySanchez I recommend not scaling the Color block image in mobile and using a image made for mobile made up of 9 squares.

Something like this:

<img width="363" alt="Screen Shot 2019-12-20 at 5 43 08 PM" src="https://user-images.githubusercontent.com/32881239/71298956-3e6e6700-2350-11ea-8d12-412f46e525e4.png">

[2019-12-21 00:10] mjabbink commented on #191
Also the "switcher" component (top right) should be modified. The future sites of Journey Systems and Accessibility will we added later.

<img width="286" alt="Screen Shot 2019-12-20 at 6 09 59 PM" src="https://user-images.githubusercontent.com/32881239/71299630-f6514380-2353-11ea-90e0-be3ccbdc050d.png">

[2019-12-21 00:29] mjabbink commented on #191
also the link in bottom of left nav to carbon site defies the logic of the switcher which has all the IBM Design eco system sites. Why is this pulled out? It should link to Carbon Design kit.

<img width="305" alt="Screen Shot 2019-12-20 at 6 27 16 PM" src="https://user-images.githubusercontent.com/32881239/71299976-a32cc000-2356-11ea-9204-f684052610a9.png">

[2019-12-22 21:02] wonilsuhibm opened #244 "Cupcake website page content update - Layout Pattern/Overview page"
Added a new Box note with the content suggestion for the layout page [here](https://ibm.box.com/s/brloq2aq09342zgbfbx9w78d15nu5ahc).

And the Sketch file for the assets are [here](https://ibm.box.com/s/ljh37o0a9mc50vjebw2nna6lwgq9w1yx)

[2019-12-23 14:04] #221 closed

[2019-12-23 14:34] alisonjoseph commented on #191
@jeffchew we updated the theme so that the homepage should now include the `container` class, which should fix the spacing of the cards. Are you on the latest version?

[2019-12-23 17:11] JennySanchez opened #245 "Cupcake website (Homepage) - post release dev fixes"
@jeffchew  Below are the collected items on the `Homepage` we need you or the dev team to take a look at. Please let me know if you have any questions.

PS: Please make sure we have the latest Gatsby Theme installed before you start on the tasks.

----

FYI - @wonilsuhibm @jacobottesen-dgc

[2019-12-23 17:17] wonilsuhibm commented on #97
Thank you @JennySanchez. Some editing suggestions here:

`@channel IBM.com Library guideline website is now available to DGC designers for preview. This is the beginning of the new design standards website for all IBM.com makers. This website is supplementary to CarbonDesignSystem.com and will cover many essential topics around building IBM.com experiences such as IBM.com library components, grid

[2019-12-23 17:17] JennySanchez commented on #245
#### Homepage hero banner

- [ ] The CTA card size is too big and needs to be in the same size as the CTA card on Designing and Coding.
- [ ] The CTA card needs to be shifted to the edge.

![Screen Shot 2019-12-23 at 11 15 28 AM](https://user-images.githubusercontent.com/45213839/71371136-c4b7c280-2575-11ea-9490-6cfe08707dd0.png)

[2019-12-23 17:22] JennySanchez commented on #245
#### Getting started section

- [ ] Designing and Coding CTA card location needs adjustment and shifted to the edge.
(Based on MIke's feedback via #191 - You can see how it should look like on the Carbon homepage)

![Screen Shot 2019-12-23 at 11 21 53 AM](https://user-images.githubusercontent.com/45213839/71371347-72c36c80-2576-11ea-8994-c05c6c32c171.png)

[2019-12-23 18:04] JennySanchez commented on #245
#### Getting started/Designing

- [ ] Update the mobile size image to be the one attached below.
Sketch work file can be found in the [BOX folder](https://ibm.box.com/s/gs0apv3kyopoiy72o3gphefbdm0op8xx) in case you need it.

![designing_mobile](https://user-images.githubusercontent.com/45213839/71371634-6c81c000-2577-11ea-96ab-f92552d25279.jpg)

[2019-12-23 18:11] JennySanchez commented on #245
#### Update the upper right-hand menu

- [ ] we need to break the items down like what's on the [Carbon homepage](https://www.carbondesignsystem.com/)).

I think this is included in the Gatsby theme as well.

---

![Screen Shot 2019-12-23 at 12 07 56 PM](https://user-images.githubusercontent.com/45213839/71373559-3e06e380-257d-11ea-8017-0e476f475af4.png)

[2019-12-23 18:16] JennySanchez commented on #191
@mjabbink  For the link in the bottom of the left nav, our thinking is if our adopter needs a quick switch to go to the Carbon website site to learn more about the Carbon, they will be able to do so on the left nav. Since the IBM.com library is built based on the Carbon Design System. Also, not all of our adopters are designers or need the Carbon design kit so linking to the design kit might not b

[2019-12-23 18:21] JennySanchez commented on #245
#### Latest update

- [ ] The  "Latest update" section cards should have `16 px` spacing in between them.

---

Our current set up on the website [Homepage](https://ibm-dotcom-library.netlify.com/) - Incorrect.
![Screen Shot 2019-12-23 at 12 20 29 PM](https://user-images.githubusercontent.com/45213839/71373979-a609f980-257e-11ea-9d40-5d7a35c0eb2d.png)

The way it should look like - Correct.
![Scre

[2019-12-23 18:23] JennySanchez opened #246 "Cupcake website (General) - post release dev fixes"
@jeffchew  Below are the collected items `in general after QA` we need you or the dev team to take a look at. Please let me know if you have any questions.

PS: Please make sure we have the latest Gatsby Theme installed before you start on the tasks.

----

FYI - @wonilsuhibm @jacobottesen-dgc

[2019-12-23 18:29] JennySanchez commented on #246
#### Components/[Overview page](https://ibm-dotcom-library.netlify.com/components)

- [ ] The thin divider rule between cards is too light and it should be grey 20. See the Gatsby Resource Card example [here](https://gatsby-theme-carbon.now.sh/components/ResourceCard#example) for reference.

<img width="880" alt="Screen Shot 2019-12-12 at 6 22 02 PM" src="https://user-images.githubusercontent.com/

[2019-12-23 18:33] JennySanchez commented on #246
#### General spacing fix

- [ ] The space below the H2s across the website is inconsistent.
![Screen Shot 2019-12-18 at 11 36 26 AM](https://user-images.githubusercontent.com/45213839/71109381-ad9a5e80-218a-11ea-99f4-0d16648c5374.png)

[2019-12-23 18:36] JennySanchez commented on #63
All leftover items in this task issue are consolidated to issue #246. This issue will be closed.

[2019-12-23 18:37] JennySanchez commented on #191
@jeffchew I consolidated all the Homepage dev fixes to #245 - FYI.

[2019-12-23 18:43] JennySanchez commented on #97
@wonilsuhibm Sounds good.

[2019-12-23 18:45] JennySanchez commented on #239
@wonilsuhibm Is the dgc-design Slack channel the only place for the announcement post?

[2019-12-23 18:48] JennySanchez commented on #234
@jeffchew I am not sure if you or Anna worked on this fix already?

[2019-12-23 20:00] JennySanchez commented on #239
Task completed.

![Screen Shot 2019-12-23 at 2 00 08 PM](https://user-images.githubusercontent.com/45213839/71378196-98f40700-258c-11ea-836e-ce32db807d98.png)

[2019-12-23 20:14] JennySanchez opened #248 "Cupcake website - new Homepage image explorations"
#### Task

@jacobottesen-dgc As discussed, let's timebox ourselves and work on ~~new layouts~~ new image treatments for the homepage.

- The goal is to make the Homepage better than what we currently have.
- The current Homepage can be viewed [here](https://ibm-dotcom-library.netlify.com/).
- the latest Homepage Sketch work file can be found [here](https://ibm.box.com/s/gs0apv3kyopoiy72o3gphefbdm0

[2019-12-23 21:18] mjabbink commented on #191
@JennySanchez no need to explain such a concept and thats what the switcher is for that I poster above. If you want to link to Carbon do it in logical places in the page or let the the switcher be the functionality for traversing websites.

[2019-12-23 21:20] mjabbink commented on #191
Before you go changing constructs and concepts in place for a year please let’s discuss before implementing

[2019-12-23 21:47] mjabbink commented on #191
Also just noticed this giant card on the lead space image.

<img width="1526" alt="Screen Shot 2019-12-23 at 3 46 27 PM" src="https://user-images.githubusercontent.com/32881239/71381956-7e755a00-259b-11ea-858c-2d4c2c1835d2.png">

[2019-12-23 23:10] mjabbink commented on #191
@JennySanchez Does not to be Design kit but mainly not linking to the Carbon site. If that is the case why not have IDL, Brand Center sites also?

[2019-12-24 21:45] JennySanchez commented on #244
@larahanlon2 Can you take a look and let me know what do you think about Wonil's purposed content for updates?

[2019-12-26 21:41] wonilsuhibm commented on #248
@JennySanchez I suggest making the lead space a bit shorter.

[2019-12-26 22:13] wonilsuhibm commented on #244
@JennySanchez @larahanlon2 just updated the story with a new Box note with updated content.

[2019-12-29 20:42] mjabbink commented on #191
@JennySanchez @wonilsuhibm The switcher should not be getting modified. This is a shared global element with naming and taxonomy being approved Phil Gilbert. That switcher represents IBM Design. If you guys have issues with the names and such let us know and we can discuss and make any necessary changes. Eunice Chung has been working this and it}s connected to the new w3 IBM Design site (staging h

[2019-12-30 10:34] wonilsuhibm commented on #191
@mjabbink Agreed that the app switcher should not change.

@JennySanchez do you have a place where you are collecting all of the feedbacks?

[2019-12-30 10:36] wonilsuhibm commented on #191
Also noticed that the home page lead space is a card, instead of the just that `Getting started` card. And the `Getting started` card seems a bit too large — it should be the same size as other cards on the page.

[2019-12-30 14:41] jeffchew commented on #191
@wonilsuhibm @JennySanchez the homepage leadspace is actually using the featurecard, and don't think it was originally designed for that space. I'll take a look to see if adjustments to the styles can be made to accommodate.

[2019-12-30 14:43] jeffchew commented on #191
Hi @JennySanchez @alisonjoseph we are on `v1.18.0`. I'll pull down latest.

[2019-12-30 19:58] #40 closed

[2019-12-30 19:59] #104 closed

[2019-12-30 19:59] #97 closed

[2019-12-30 20:00] #63 closed

[2019-12-30 20:05] #239 closed

[2019-12-30 21:17] wonilsuhibm commented on #248
@JennySanchez I added some more [design explorations](https://ibm.box.com/s/wecud78ka6a4b49xl8q201iq2vovsuo0) and a rough [video cut](https://ibm.box.com/s/ff9aee80fogw1lxaabm535gegn7u2djp).

@jeffchew Any chance we can play with the video in the home page lead space? I know some coding, maybe you can show me how to plug-in a video in the lead space so that I can play with different versions witho

[2019-12-30 21:19] jeffchew commented on #248
@wonilsuhibm the `HomepageVideo` component is specific to the carbon website, and will need to be pulled in from there.

[2019-12-30 21:20] wonilsuhibm commented on #248
@jeffchew Ah okay. So we should go with a still image for now, and add a new story for video. Thank you!

[2019-12-31 01:48] mjabbink commented on #245
for section cards (Article Cards) you can see demo site here:
https://gatsby-theme-carbon-4dwiybdsa.now.sh/components/ArticleCard

[2019-12-31 01:49] mjabbink commented on #245
For the "Feature card" you can find demo here:
https://gatsby-theme-carbon-4dwiybdsa.now.sh/components/FeatureCard

[2019-12-31 16:29] jeffchew commented on #245
All fixes have been completed: https://ibm-dotcom-library.netlify.com/

[2019-12-31 17:06] wonilsuhibm commented on #248
Here is a still image suggestion until we figure out the video part:
<img width="1355" alt="Screen Shot 2019-12-31 at 12 01 41 PM" src="https://user-images.githubusercontent.com/30183447/71628367-94030900-2bc5-11ea-9c5e-97f35f56236b.png">

[2019-12-31 17:08] JennySanchez commented on #191
@wonilsuhibm The task issue #246 is the issue created to track general feedback and fixes.

[2019-12-31 17:23] JennySanchez commented on #191
@mjabbink Just got back from the vacation. I got what you saying and agreed with you on the switcher should not be changed if it is a shared global element across all the design sites, that was a piece of information I had no idea about but learned.

We should have the Carbon website link removed and make sure it's going to the digital design kit instead.

[2019-12-31 18:11] JennySanchez commented on #246
#### Update the action icons on the card
(Feedback from Mike)

- [ ] The action icons on the Help/[Overview page](https://ibm-dotcom-library.netlify.com/help) should be "Launch" icons instead of "ArrowRight" icons.
![Screen Shot 2019-12-31 at 12 10 26 PM](https://user-images.githubusercontent.com/45213839/71630052-9d40a580-2bc6-11ea-8463-48c353279193.png)

[2019-12-31 18:13] JennySanchez commented on #246
👉 The action icons update for the cards is done and can be viewed [here](https://deploy-preview-250--ibm-dotcom-library.netlify.com/help).

[2019-12-31 18:49] JennySanchez commented on #248
@wonilsuhibm I like the idea of using video but we need to get the requirements of how the video should be formatted or created from Jeannie (maybe)?

[2019-12-31 19:41] JennySanchez commented on #244
@wonilsuhibm Can you add me to the new BOX note folder? I can not view it. Thank you.

[2019-12-31 19:42] JennySanchez commented on #248
@RobertaJHahn FYI - The milestone is updated from Sprint 24 to Sprint 20-1.

[2019-12-31 20:11] RobertaJHahn commented on #93
This task is on hold until January 2020 when the Carbon team can pick up the work.  There is no timeline from Carbon.  Removing this issue from the cupcake v1.0.0 release and moving it to backlog.  @JennySanchez

[2019-12-31 20:21] RobertaJHahn commented on #246
@JennySanchez Since you mentioned that the work will be done by the end of this week, I agree that we should keep it in sprint 24.  Since the cupcake release happened before the holiday, what release will they be included in?  There is a v1.1.0 or should I create a patch release?  @jeffchew

[2019-12-31 20:25] RobertaJHahn commented on #21
@JennySanchez I have removed this issue from the v1.0.0 release based on your response to my email.  What release should it be included in?

[2019-12-31 20:28] #245 closed

[2019-12-31 20:29] #191 closed

[2019-12-31 20:40] JennySanchez opened #251 "Create video for the Homepage"
#### Additional information
 - This is an epic that links all of the stories needed to properly create and implement the video.

#### Tasks
- [ ]  Find out the proper format of the video for the Gatsby theme
- [ ]  Brainstorm the stories for the video
- [ ]  Shoot and edit the video
- [ ]  Get feedback and finalize the video
- [ ]  Implement the video (video player coding)

#### Acceptance criteri

[2019-12-31 20:50] JennySanchez opened #252 "Homepage video creation - planning"
#### Task
- [x]  Find out the size and format of the video from the implementation perspective.

#### Acceptance criteria
- [ ]  Know what size, format, and all the requirement for shooting the video.

[2019-12-31 20:53] JennySanchez opened #253 "Homepage video creation - Shotting"
#### Task
- [x]  Brainstorm the stories for the video
- [ ]  Shoot the video

#### Acceptance criteria
- [ ]  Have a video shoot and ready for review with the team.

[2019-12-31 20:54] JennySanchez opened #254 "Homepage video creation - editing"
#### Task
- [ ]  Edit the video
- [ ]  Get feedback and finalize the video

#### Acceptance criteria
- [ ]  Have a finalized video ready for coding implementation.

[2019-12-31 20:56] JennySanchez opened #255 "Homepage video creation - video player coding"
#### Task
- [ ]  Implement the video

#### Acceptance criteria
- [ ]  The video is implemented and live on the homepage.

[2019-12-31 23:09] mjabbink commented on #245
The color image in mobile is too lores. Should be svgs to avoid this.

[2019-12-31 23:15] mjabbink opened #256 "components overview image switches to low-res. See carbon overview page"
current (lores)
<img width="1193" alt="Screen Shot 2019-12-31 at 5 15 15 PM" src="https://user-images.githubusercontent.com/32881239/71636089-31bffd80-2bf1-11ea-8811-b5dbd53d012c.png">

too much compression. Also assume svg will be better and my hunch is Carbon site is svg.

[2019-12-31 23:20] mjabbink opened #277 "correct icon in resource card"
https://ibm-dotcom-library.netlify.com/patterns#resources
<img width="536" alt="Screen Shot 2019-12-31 at 5 18 39 PM" src="https://user-images.githubusercontent.com/32881239/71636116-9d09cf80-2bf1-11ea-99d1-9de75b608cd3.png">

[2019-12-31 23:33] mjabbink opened #257 "components overview page"
if the IBM.com components will have hover states I think the Carbon core matriculates of components should as well. https://www.carbondesignsystem.com/components/overview#building-blocks

[2019-12-31 23:36] mjabbink opened #278 "Component overview should have hover states for Carbon Core items"
see
https://www.carbondesignsystem.com/components/overview#building-blocks

[2020-01-02 11:47] larahanlon2 commented on #244
@wonilsuhibm hi! Can you also add me to the Box folder, please.

[2020-01-02 14:31] wonilsuhibm commented on #244
@JennySanchez @larahanlon2 That's weird - it's the same Box folder at `IBM Digital Design Squad / Design / Website / _ _cupcake Website / Content + Design / 05 Patterns`. Just send you invites again.

[2020-01-02 16:20] JennySanchez commented on #21
@RobertaJHahn The release is for "Cupcake v1.0.0." and the epic is the "Website: cupcake MVP".

[2020-01-02 16:23] JennySanchez commented on #120
@RobertaJHahn I think this is the same task as #21? What do you think?

[2020-01-02 16:32] JennySanchez commented on #42
@jacobottesen-dgc Let's talk about how we are going to collect user feedback as the starting point. Can you set up something for us and Ashley to chat soon? Thanks.

[2020-01-02 16:33] JennySanchez commented on #21
@jacobottesen-dgc Can you set up something for us and Ashley to chat soon? Thanks.

[2020-01-02 16:36] JennySanchez commented on #120
@RobertaJHahn NM. This task is about **enabled Segment on the design system site** and will be a dev task.

FYI - @jeffchew

[2020-01-02 16:55] RobertaJHahn commented on #120
Linda will be adding the cupcake website to the digital registry.  Analytics will be provided automatically.  Closing this issue

[2020-01-02 16:55] #120 closed

[2020-01-02 16:59] JennySanchez opened #258 "Dev fix: Homepage hero image set up and update the image"
#### Task
Our current homepage image is not displayed as intended and we need to adjust it.
- The image is scaled up too much and lose the full view of the image.
- The image looks pixelated, so we might need to see how we can display a higher quality image without adding too much image size to the page and impact the loading.

#### Additional information
Overall, we need the image to display at 1

[2020-01-02 17:00] JennySanchez commented on #258
@jeffchew Let's take a look at the homepage hero image together before you start, please.

[2020-01-02 18:54] jeffchew commented on #234
This has already been completed @JennySanchez .

cc: @jacobottesen-dgc @RobertaJHahn

[2020-01-02 20:52] JennySanchez commented on #21
FYI - @RobertaJHahn  @jacobottesen-dgc

I am taking Jeff off this task, bc we need to find out what we need to set the process up then create a dev issue for Jeff and his team for dev assistance if we need to.

[2020-01-02 20:55] JennySanchez commented on #258
@jeffchew Setting the estimate at 2 story points, please feel free to make any edits if my guessing is off. Thank you.

[2020-01-02 20:57] jacobottesen-dgc commented on #42
@JennySanchez

Here are some ideas for research methods:

– Survey
– Competitive research (review other FAQs from design systems)
– Interviews

Questions:

– After reviewing the site, what questions are still unanswered?
– What are the top 3 questions you have based on your review of the site?

Articles for inspiration:

https://publication.design.systems/building-successful-design-systems-with-a-

[2020-01-02 20:59] JennySanchez commented on #229
@larahanlon2 You are correct - the idea is to show an overview of the entire component/pattern at the top so that adopters can, at a glance, see everything that is included.

If we follow the same format, for Lead Space, it will have Intro, then the entire component/pattern at the top, then we dive into types.

I will set up a time for us to take a look all together before we make any changes. Sou

[2020-01-03 16:29] JennySanchez opened #260 "Use Hotjar survey for feedback collecting"
#### Additional information
- Linda created a [Hotjar survey](https://surveys.hotjar.com/s?siteId=42920&surveyId=148553) for collecting feedback. Let's use the survey when we publish released our website. For now, let's think if we need to add anything else to the survey and record it as comments below.

![Screen Shot 2020-01-03 at 10.27.40 AM.png](https://images.zenhubusercontent.com/5da0db0a9f0a

[2020-01-03 16:43] JennySanchez opened #261 "Conduct adopter research for the Help/FAQ page content update"
#### User Story

#### Additional information
- Issue #42 has the planning detail we need to conduct the adopter research.
- FAQ questions are consolidated via this [Airtable document](https://airtable.com/invite/l?inviteId=invUQQUVcYNJPrCwd&inviteToken=0abbd6c878f07746d5f58a079f635443d41e3cb8699ac384eb9cd869675d062d).

#### Acceptance criteria
- [ ] A list of the questions from the adopters collec

[2020-01-03 17:55] mjabbink opened #262 "Footer component design update"
Disregard content in the attached visuals but look to the structure and placement of content. Still maintains a column structure.

**Default:**

<img width="958" alt="Screen Shot 2019-12-14 at 5 16 50 PM" src="https://user-images.githubusercontent.com/32881239/71739713-d7f14a80-2e1f-11ea-8441-f8a4c073a1d6.png">

**Minimal:**

<img width="956" alt="Screen Shot 2019-12-14 at 7 19 20 PM" src="https:/

[2020-01-03 17:56] mjabbink commented on #262
<img width="1122" alt="Screen Shot 2020-01-03 at 11 56 17 AM" src="https://user-images.githubusercontent.com/32881239/71739793-1555d800-2e20-11ea-918f-268fcd45fc4f.png">

[2020-01-03 18:05] wonilsuhibm commented on #262
This is a duplicate issue. Will move the missing minimal design piece to the existing ticket (https://github.com/carbon-design-system/ibm-dotcom-library/issues/860)

[2020-01-03 18:05] #262 closed

[2020-01-03 18:49] JennySanchez opened #263 "Update the footer images on the Footer page"
#### Additional information

- We need to update the image when the updated footer is coded and ready for the adopters to use.
- Below are the updated default and minimal footers should look like:

(Default Footer)
![Screen Shot 2019-12-14 at 5.16.50 PM.png](https://images.zenhubusercontent.com/5da0db0a9f0a9500014f53bf/f305340b-dca6-4c21-9538-888669143b20)

(Minimal Footer)
![Screen Shot 2019-12-1

[2020-01-03 18:55] JennySanchez commented on #263
@wonilsuhibm @larahanlon2

Please provide any additional information on the timeline or detail that can help with this task prioritization.

[2020-01-06 15:08] jacobottesen-dgc commented on #227
This is task is done. Changes can be viewed here: https://ibm-dotcom-library.netlify.com/components

[2020-01-06 16:09] RobertaJHahn commented on #39
This overview page has been created.  Closing this issue.

[2020-01-06 16:09] #39 closed

[2020-01-06 16:51] JennySanchez commented on #229
Review meeting set up for 01/07 Tuesday.

[2020-01-06 16:55] JennySanchez commented on #42
@jacobottesen-dgc Great ideas and let's share them with Penny and get her input when we meet with her.

For the competitive research (review other FAQs from design systems), one thing to keep in mind is our adopter has a very particular needs for creating IBM.com pages. The FAQ page content will need to tailor to their needs.

[2020-01-06 20:05] wonilsuhibm commented on #248
The latest suggestion from Brand is to update the current image as an MVP and work on a video version.

Things to cover:
- darker overlay
- smaller components (zoomed-out view)
- other visual treatments...

[2020-01-06 21:52] #234 closed

[2020-01-07 14:24] JennySanchez commented on #244
@wonilsuhibm Is this the file?
![Screen Shot 2020-01-07 at 8 22 50 AM](https://user-images.githubusercontent.com/45213839/71902091-f3fa3200-3126-11ea-89b4-49faf66f170d.png)

[2020-01-07 15:35] JennySanchez commented on #256
@jeffchew Can you tell me the steps and how many story points our dev team might need in order to create and link each card to its own components pages on the Carbon website?

ps: You might want to look into how the images were pulled into the [Carbon components page](https://www.carbondesignsystem.com/components/overview).

[2020-01-07 15:38] JennySanchez commented on #38
@larahanlon2 Can you confirm "Card" will not be part of the Layout Pattern content for the future so we can either close or re-prioritize this task issue? Thank you.

[2020-01-07 15:41] jacobottesen-dgc commented on #21
Meeting set up with Penny for Thursday 9th

cc. @JennySanchez

[2020-01-07 15:43] larahanlon2 commented on #38
@JennySanchez I can confirm that `cards` as it has been identified in this issue and v19a site will not be part of the Layout Patterns in cupcake. However, we will have patterns _with_ cards but we are currently working out the details (naming, final development etc).

I think we can **close this task** and open a new one that is much more specific when we know the next step.

[2020-01-07 16:33] JennySanchez commented on #261
**Note:**
The Box note link to gather feedback from adopters around the different topics including components, resources, and overall general content on the website.

https://ibm.box.com/s/cuhmld1kb6e1y70pjxqkl1gkhgvdpiaa

[2020-01-07 20:10] JennySanchez commented on #229
Based on the discussion today, we will make updates listed below to the Footer, Masthead, and Lead Space pages.

- [ ] Move the description under each component and layout pattern title.
- [ ] Update section title from "Documentation" to "Developer Documentation".
- [ ] Remove the "Types" section.

---

Additionally, @oliviaflory will share her exploration of the Component content structure she ha

[2020-01-07 20:35] JennySanchez opened #266 "Discussion - Spec image set up"
#### Additional information

- The current spec image set up on our website:
Circle = 20x20px, Type = 12px, Color = Magenta 50.

![LeadSpace_Left_Heading06_Specs.png](https://images.zenhubusercontent.com/5da0db0a9f0a9500014f53bf/640b6069-fd3b-4e7c-ba5f-fb38c53e3b58)

- The current spec image set up on Carbon website:
Color = Magenta 60 and Magenta 70.
![configurations.png](https://images.zenhubuse

[2020-01-07 20:37] JennySanchez commented on #266
We need to look into the treatments of
- color
- stroke weight
- number size
- location of the index

[2020-01-08 14:35] wonilsuhibm opened #296 "Pattern demo component: design study"
### User story
As a maker of IBM.com pages and templates, I need a way to preview a layout pattern, play with it, and understand its interactive and responsive behaviors.

### Notes
- This story is to do UX design.
- We have a design that was done a long time ago. This design doesn't align with the Carbon team's component demo tool's design at the moment. We should try to align as much as possible

[2020-01-08 15:08] JennySanchez commented on #227
@jacobottesen-dgc The updates look good. I have Lara and Olivia confirm the updates as well 0 FYI.

[2020-01-08 17:00] JennySanchez commented on #257
@mjabbink Agreed with you and we will be working on this update via #256.

[2020-01-08 17:01] JennySanchez commented on #257
@RobertaJHahn We should close this issue and work on the update via #256.

[2020-01-08 17:36] jacobottesen-dgc opened #275 "Create consistent icons rules for cupcake site"
#### User Story

#### Additional information
I am working on icon rules to bring consistency to the resource cards on the cupcake site.

#### Acceptance criteria
- [ ] Reviewed with Jenny and approved by Wonil.
- [ ] Share findings with the Carbon team.

[2020-01-08 17:36] wonilsuhibm commented on #20
@larahanlon2 @JennySanchez @oliviaflory @jacobottesen-dgc please review and comment.

[2020-01-08 17:40] JennySanchez commented on #229
Update completed and can be viewed on the live website.

[2020-01-08 17:53] JennySanchez commented on #42
Meeting scheduled with Penny on 01-09.

@jacobottesen-dgc
Let's go over the following directions with Penny and finalize our plan for the next step.

- [ ] Box note feedback collection (near term)
- [ ] Survey (near term)
- [ ] Interviews (near term)
- [ ] Slack channel (long term)
- [ ] Hotjar Survey (long term)

[2020-01-08 17:58] larahanlon2 commented on #20
One of the Security designers reached out to me before the holidays about artboard/grid sizes. She does a lot of web and app work for events and showcases...where the displays are large. She and her dev had to hack the designs/code so they looked good on displays larger than 1584px. **Do you think we (or Carbon) should incorporate super large artboards and grids?**

Part of our conversation:
_All

[2020-01-08 18:04] wonilsuhibm commented on #20
Strictly speaking. that falls under events / environmental design and 's outside of our scope. I'd suggest connecting her with Pete Garvin from Brand team, he has done studies and guidelines for grid and layout for all media.

[2020-01-08 22:23] jacobottesen-dgc opened #276 "Demo window feature mapping study"
#### User Story

#### Additional information
I am working on prioritizing features for the demo window

#### Acceptance criteria
- [x] Reviewed and approved by Wonil & Jenny

[2020-01-08 22:46] JennySanchez commented on #276
@wonilsuhibm FYI on this study task existed.

[2020-01-08 23:02] JennySanchez commented on #260
@ljcarot FYI on this task issue existed.

[2020-01-09 00:27] JennySanchez commented on #20
@wonilsuhibm The sizes list looks good to me. Most of the design files from the brand team I have seen are designed with the same desktop sizes you have on the list already, so I think you are spot on.

A side note, last year, Googled announced they are going to use the mobile-first indexing as the default. So if our pages want to be found, the mobile version should be focused on even most of our

[2020-01-09 16:45] ljcarot commented on #21
Need a dev story to add Tealium script to the cupcake website pages.  @jeffchew   https://ibm-dotcom-library.mybluemix.net/

[2020-01-09 16:48] ljcarot opened #279 "Add Tealium and Hotjar scripts to Cupcake website pages"
In order to get metrics and hotjar working on Cupcake website, we need to add Tealium to the pages beginning with https://ibm-dotcom-library.mybluemix.net/ and all sublevels.

Additional Information:
IBM Common metrics script added to the page.  It should include both Telium and Hotjar
[ibm common.js](https://1.www.s81c.com/common/stats/ibm-common.js)

Acceptance criteria:
Pages will appear with H

[2020-01-09 20:06] jacobottesen-dgc commented on #276
I reviewed a few component demo windows on other design systems. I gathered the list of potential features for our demo page and prioritized based on user impact and dev feasibility.

![Feature_mapping_demo_small.jpg](https://images.zenhubusercontent.com/5da5ed9833f74500019c499f/d2a2d01a-9352-409b-9af2-6896f7ba5772)

cc. @wonilsuhibm @JennySanchez

[2020-01-09 20:32] jacobottesen-dgc commented on #276
Here are some explorations for the responsive demo window:

![Responsive option 1.png](https://images.zenhubusercontent.com/5da5ed9833f74500019c499f/a72e7d60-f387-477f-9894-770d77f8db4d)

![Responsive option 2.png](https://images.zenhubusercontent.com/5da5ed9833f74500019c499f/beaa3f27-8770-4910-863d-6a49ca31fed9)

[2020-01-09 20:35] jacobottesen-dgc commented on #275
Made an update to the site. If we don't like the icon ruling I can change it back

Live link: https://ibm-dotcom-library.netlify.com/resources#color-grid-and-icons

![Screen Shot 2020-01-09 at 2.34.04 PM.png](https://images.zenhubusercontent.com/5da5ed9833f74500019c499f/4a788656-f793-491b-9d0d-9d8f8dcd42ad)

[2020-01-09 22:10] JennySanchez commented on #248
**Task updates:**
- Shared two homepage hero image options with Mike for feedback. We are good to go with either image.
- Shared two release schedule hero image options with Mike for feedback and waiting on him to get back to me on this.

![Hero Image 04](https://user-images.githubusercontent.com/45213839/72109045-8acb1800-32fa-11ea-9771-a02d0aeb8e87.jpg)
![Hero Image 04 Copy](https://user-images.

[2020-01-10 00:04] JennySanchez commented on #248
@wonilsuhibm Are you be ok to move forward with the image below?
Between the two, I like this one better bc it provides depth with a good amount of the detail.
![Screen Shot 2020-01-09 at 6 00 11 PM](https://user-images.githubusercontent.com/45213839/72114836-7727ad80-330a-11ea-9275-3aae719a8c79.png)

[2020-01-10 00:07] JennySanchez commented on #276
@wonilsuhibm Is this close to what you have in mind for feature mapping? Any feedback for Jacob to move forward with this study?

[2020-01-10 00:10] JennySanchez commented on #275
Nice work, @jacobottesen-dgc . Please share our findings with Jan and Connor on the Carbon Team.

[2020-01-10 00:20] JennySanchez commented on #244
Based on the feedback received during our share today, we need to take another look and decide what we need to work on to finalize the content for the update.

The other question I have is what content we should include for the Overview page and what we should consider as the IBM.com specific layout guideline and have the content live under the Guideline category on the website.

I reserved 30 min

[2020-01-10 00:29] JennySanchez opened #281 "Cupcake website Homepage design (part one)"
#### User story

#### Additional information
- This story is created based on feedback from the Carbon designers. We noticed the latest updates area will be better with resource card treatment or image tile treatment but not the media card treatment since the three links we have on our website is not media related.

#### Acceptance criteria
- [ ] Design options created

[2020-01-10 22:13] JennySanchez commented on #279
FYI - @jeffchew

[2020-01-13 17:34] JennySanchez commented on #276
**Update:** Review meeting scheduled for 01/14.

[2020-01-13 17:37] JennySanchez commented on #275
@jacobottesen-dgc Can you schedule a time this week to share the finding with Jan Child (Content Design Lead) and Connor Leech (Content Designer) and have me as optional on the invite?

Let me know if you have any questions.

[2020-01-13 18:29] jacobottesen-dgc commented on #275
@JennySanchez Schedule meeting for Thursday from 10:30-10:45am.

[2020-01-13 19:45] JennySanchez opened #283 "Content Planning - What is a guideline and what guidelines we are going to create for 2020"
#### Additional information
We need to find answers on the following two areas:
- What is a guideline?
- What guidelines are needed specifically for IBM.com adopters?

#### Acceptance criteria
- [x]  Have an agreed definition of what a guideline is from the team.
- [ ]  Have a list of the guidelines we can update the website sitemap with and make plans for content creation.

[2020-01-13 19:56] JennySanchez commented on #283
@wonilsuhibm @larahanlon2 @oliviaflory FYI on this task issue created based on our conversation today.

[2020-01-14 16:04] JennySanchez commented on #252
Scheduled time to talk about the planning 01/14.

[2020-01-14 16:06] JennySanchez commented on #21
@ljcarot @jeffchew Do you need me create a dev issue for adding Tealium script? Anything else I should add as the next step?

[2020-01-14 16:12] JennySanchez commented on #244
Via Lara after the discussion meeting:

"We are still making updates to it based on feedback last Thursday with IDL, Elliott, Carbon
It will need further reviews with the above folk before publishing I think the final content of this page will help us decide where it lives – whether it stays on the Layout overview page or if it gets a new page under guidelines."

---

👉 The definition of Guideline

[2020-01-14 16:30] JennySanchez commented on #227
@larahanlon2 @oliviaflory I know there are some status updates we need to do for the Components and Layout Patterns Overview pages and you are both working on the detail.

Let's do the status update and other content updates in a separate issue for v1.1 release and close this task for this sprint since this one is about the tag styling update to be aligned with the style the Carbon website is usin

[2020-01-14 16:56] larahanlon2 commented on #244
Feedback from IDL, Carbon and Elliott on Layout overview page [v 2.1.1](https://ibm.ent.box.com/notes/593977969328) (Thurs 9 Jan):

—
**Purpose**
– This is a good section
– May not need visual schematics. They might be too confusing and prescriptive.
– Consider just expressing the point in words.
– Be more high level in the guidance
– Consider: Editorial, Navigational, Messaging, Transactional
– F

[2020-01-14 16:57] larahanlon2 commented on #244
Latest content updates and visuals WIP (v3.0.0) are [here](https://ibm.ent.box.com/notes/594294393853)!

[2020-01-14 17:02] ljcarot commented on #279
@JennySanchez is this the dev story you were looking for earlier today?

[2020-01-14 17:06] jacobottesen-dgc opened #285 "Research rules for title & subtitles on resource cards"
### Tasks
- [x] Meeting with Carbon to learn the best practices and rules for setting up titling on resource cards.

#### Acceptance
- [x] Create a task issue to update the resource card title treatment.

[2020-01-14 17:08] JennySanchez commented on #165
@larahanlon2 Are there any good examples/screens from the teams that Jacob and I can use to create the images for the update?

[2020-01-14 17:23] JennySanchez opened #284 "Audit and update links across the website"
Jeff made updates to the staging environment.
Let's do an audit and update links to make sure they are all linked to the correct URLs.

<img width="452" alt="Screen Shot 2020-01-14 at 11 14 51 AM" src="https://user-images.githubusercontent.com/45213839/72366614-38a24200-36c0-11ea-87ba-4ead308e29bc.png">

#### Additional information
The link to view the updated links: https://ibm.ent.box.com/notes/

[2020-01-14 17:57] jacobottesen-dgc commented on #42
Met with Penny today.

Got some greta advice from her about the FAQ page.

###Tips

- Use pop up Poll/surveys
- (Keep it to 2 questions with contact info)
- Limit the site to 1 poll at a time

[2020-01-14 18:49] larahanlon2 commented on #165
Hey, @JennySanchez @jacobottesen-dgc the screenshots I used on the current guideline page were the best examples I could find – that align to our design specs. Here they are:

[Watson](https://ibm.box.com/s/15vajrvcptj9btor430wa03242lfazeh)
[Cloud](https://ibm.box.com/s/e1a2e8kcrjfv0oalmcrmohsgy2inkpro)
[Watson (2)](https://ibm.box.com/s/9vahduoh4sbkbxzqvgz82a7vecs983xs)
[Watson (3)](https://ibm.b

[2020-01-14 19:16] JennySanchez commented on #21
**FYI:** Form the conversation Jacob and I had with Penny, she also recommended using the Hotjar survey to collect feedback in the long run. We have an issue to work on the survey detail in the next sprint.

[2020-01-14 20:09] JennySanchez commented on #279
@ljcarot You are right! I thought I saw this issue somewhere before but can not find it. Thank you!!!

[2020-01-14 20:10] JennySanchez commented on #21
Issue #279 is created by Linda to add Tealium script to Cupcake website pages as the next step.

[2020-01-14 20:21] JennySanchez commented on #42
**Next step:** Set up the Hotjar Survey (#260).

[2020-01-14 20:25] JennySanchez commented on #252
Mike mentioned he likes the purposed video from you, @wonilsuhibm . The only focus for the next iteration will be to shoot the video with a "front" view instead of the "side" view in your purposed video.

[2020-01-14 21:14] jacobottesen-dgc commented on #276
Update: Presented work to the team 1/14/20.

[2020-01-14 21:17] JennySanchez commented on #275
@wonilsuhibm Here's the final general icon usage rule for the website

- **right arrow icon:** links within the cupcake site (resource card link on the Get started/Overview page to Resource page).
- **launch icon:** leaving the cupcake site (Github, Storybook, Box)
- **download icon:** anything that can be linked to downloads asset or tool (Sketch kit download from Sketch Cloud)

Let us know if we

[2020-01-16 16:33] JennySanchez opened #287 "Add stakeholder and team member contact list to our wiki and website"
#### Additional information
When thinking about the goal we have for our IBM.com adopters, I spot a need to connect the design leads from each of the IBM.com teams. My thought is to add a link on our Get Started/Overview Page and a card on Help/Overview Page then linked them to the contact list on the team Git wiki.

#### Tasks
- [x] Collect adopter lead information
- [ ] Create list on Wiki
- [ ]

[2020-01-16 16:52] JennySanchez opened #288 "Finalize Cupcake website Layout Pattern/Overview page"
In order to publish the latest Layout patterns overview page to the cupcake website we need approval of the content.

### Tasks

- [x] Get feedback on content from DDS members (Wonil, Olivia, Jenny)
- [x] Get feedback on content from DGC leadership (Elliott)
- [x] Get feedback on content from DGC squad designers
- [x] Update guidelines and visual assets based on feedback
- [x] Share with Jenny and

[2020-01-16 16:54] JennySanchez opened #289 "Update the Layout Patterns/Overview Page content"
The latest content for Layout patterns overview page needs to be published on the cupcake site. It currently lives in Box: https://ibm.ent.box.com/notes/594294393853

## Tasks
- [x] Lara to share content with Jacob
- [x] Jacob to port content to Gatsby theme
- [x] Lara and Jacob to work together on image production, content styling etc.

[2020-01-16 16:56] JennySanchez commented on #244
Task issue #288 created for finalizing the content as the next step.

[2020-01-16 16:57] JennySanchez commented on #252
**Task update:** Meeting with Jeff on 01/17 to aligned on the next step.

[2020-01-16 17:03] wonilsuhibm commented on #244
@larahanlon2 do we have a section on minimizing layout variations? something along the line of try not to use `1-1` => `1-3` => `2-2` => `3-3-10` => `2-8-4`?

[2020-01-16 17:06] wonilsuhibm commented on #244
Maybe in this iteration, or in the next, but we should also talk about spatial model / areas. Be consistent in where areas for different functions are placed throughout your experiences.

[2020-01-16 17:06] JennySanchez commented on #258
@jeffchew You mentioned you might need to assign this task to a developer. Do you know who might be able to take on this task? Also, we need to let @RobertaJHahn know we need to move this task to Sprint 20-02.

[2020-01-16 17:14] jacobottesen-dgc commented on #285
cc. @JennySanchez

Meeting with Connor from Carbon 01/16 today.

[2020-01-16 18:37] RobertaJHahn commented on #258
@JennySanchez @jeffchew moved issue to sprint 20-02.

[2020-01-16 18:55] wonilsuhibm commented on #20
I think we can get by by making sure that our patterns and components are mobile fully responsive.

[2020-01-17 15:16] wonilsuhibm commented on #248
@JennySanchez Thank you! Looks awesome. Let's close this issue.

[2020-01-17 15:42] jacobottesen-dgc commented on #275
cc. @JennySanchez @wonilsuhibm

Had a meeting with Connor from Carbon on 01/16.

- Sent him the icon proposal

[2020-01-17 15:50] jacobottesen-dgc commented on #284
Hey @JennySanchez should we add the Carbon Expressive link to our resource page?

[2020-01-17 15:50] jacobottesen-dgc commented on #284
cc. @JennySanchez

All links have been updated to the site. Ready for review

[2020-01-17 15:51] jacobottesen-dgc commented on #285
cc. @JennySanchez

- Meeting with Connor from Carbon 01/16 today.
- Sent Connor a proposal for titling rules on resource cards.

[2020-01-17 16:59] jacobottesen-dgc commented on #260
cc. @JennySanchez

Started brainstorming questions for the survey and sent them over to Penny for feedback on 01/17.

[2020-01-17 18:28] #257 closed

[2020-01-17 18:32] JennySanchez commented on #252
Met with Jeff and he mentioned we will use the same code Carbon has on the homepage and swap out the videos. The ones we need to swap out are the ones highlighted in pink.

![Screen Shot 2020-01-17 at 12 31 42 PM](https://user-images.githubusercontent.com/45213839/72636736-56241580-3925-11ea-8453-866499cf3855.png)

The link for us to download the videos is [here](https://github.com/carbon-design-s

[2020-01-17 18:36] JennySanchez commented on #253
**Note:** Jeff mentioned we will use the same code Carbon has on the homepage and swap out the videos. The ones we need to swap out are the ones highlighted in pink.

![Screen Shot 2020-01-17 at 12 31 42 PM](https://user-images.githubusercontent.com/45213839/72636736-56241580-3925-11ea-8453-866499cf3855.png)

The link for us to download the videos is [here](https://github.com/carbon-design-system/

[2020-01-17 18:37] JennySanchez commented on #253
@wonilsuhibm Please let Roberta and I know which sprint we might be able to start the video shotting process. The video is for the v1.1 release update.

[2020-01-17 19:25] JennySanchez commented on #284
@jacobottesen-dgc What do you mean by "Carbon Expressive link"?

[2020-01-17 19:29] JennySanchez commented on #260
@jacobottesen-dgc Can you add the questions here? I have no idea what questions are listed. :-(

[2020-01-17 19:29] jacobottesen-dgc commented on #260
@JennySanchez

Do you have questions after reviewing this page?
What questions do you still have after reviewing the FAQ page?
Is there unanswered questions you still have? Y/N Text input
After reviewing this page, what questions are still unanswered?

[2020-01-17 20:46] JennySanchez opened #290 "Add the IBM.com shell template link to the website"
We will add the the IBM.com shell template link to the website as a Resource Card.

We will add the card to Get Started/Designing page.
https://ibm-dotcom-library.mybluemix.net/getting-started/designing

We will add the card to the Resource Page "Color, grid, and icons" section.
https://ibm-dotcom-library.mybluemix.net/resources

[2020-01-17 20:47] JennySanchez commented on #290
@oliviaflory Can you share the link and recommendation on where the IBM.com shell template link should be added on the Get Started/Designing page? Thank you.
https://ibm-dotcom-library.mybluemix.net/getting-started/designing

[2020-01-17 22:33] larahanlon2 commented on #244
I added a small line to the 2x Grid section about this:
<img width="926" alt="Screen Shot 2020-01-17 at 5 32 12 PM" src="https://user-images.githubusercontent.com/53093550/72650735-50dbc080-394f-11ea-88e4-b46d75067e46.png">

 The current examples also illustrate this point but not to the same level of detail as the grid studies at the bottom of the page.

After working through this iteration, I do

[2020-01-17 22:37] larahanlon2 commented on #244
Definitely important. I'm trying to understand how that ties into layout **patterns** specifically. Would this kind of guidance be better suited to  page / template / journey level layout?

[2020-01-20 14:52] oliviaflory commented on #290
It's the same link as the White and Gray 90 theme design kits, https://ibm.ent.box.com/folder/90951802351

I don't think we need the link to the UI shell template on the Get started / Designing page because it's one that you will download and save as a template like the IBM Grid template. We don't have the link to the grid template on this page either.

I wonder if we need to find a place on the r

[2020-01-20 17:53] JennySanchez commented on #260
@jacobottesen-dgc Based on our discussion, can you come up with a list of general feedback survey questions and listed them here? I will do the same.

[2020-01-20 18:01] JennySanchez commented on #266
Discussion meeting up for 01/23 Thursday.

[2020-01-20 19:55] JennySanchez commented on #283
@jacobottesen-dgc @j1mie FYI on this is the task for the Guideline section content planning as mentioned today.

[2020-01-20 20:48] JennySanchez commented on #290
Based on the discussion, there are three items we need to do for this task:
- Get started/Designing page "Get the kit" section step 3, update the name of the design kit from IBM.com design kit to IBM.com library design kit.
- Resources page, add the "IBM.co Shell template" resource card under the "Color, grid, and icons" section.
- Resources page, add "IBM.com library components" section tile belo

[2020-01-20 21:31] #9 closed

[2020-01-20 21:44] jimpistilli opened #293 "Guidelines page research"
Conduct supporting research of Guidelines pages in order to write new content for forthcoming additional Guidelines pages.

https://www.carbondesignsystem.com/guidelines/2x-grid/basics/

[2020-01-21 14:25] larahanlon2 commented on #288
Latest overview page 3.0.0 can be viewed [here](https://ibm.ent.box.com/notes/594294393853).

[2020-01-21 14:54] RobertaJHahn commented on #13
Pattern pages are still needed on the wedding cake site. Work not scheduled yet as Carbon strategy interlock is needed.

[2020-01-21 14:55] RobertaJHahn commented on #11
The guidelines work has been deferred until resources are available. The design kit and components will continue.

[2020-01-21 15:13] jacobottesen-dgc commented on #284
cc. @JennySanchez

The "Carbon expressive link" is the storybook with all of Carbons components updated to the expressive styling. Here is the link: https://carbon-expressive.mybluemix.net

[2020-01-21 18:01] JennySanchez opened #295 "Update cupcake website sitemap"
#### User Story

#### Task
- Wonil and Jenny to work together to figure out what content will be published in order of priority.
- Jenny to update the sitemap

#### Acceptance criteria
- [ ] Sitemap updated and shared with the team

[2020-01-21 18:50] JennySanchez commented on #290
Hi @oliviaflory The updates are completed and you can view it on the staging site [here](https://ibmdotcom-library.s3.us-south.cloud-object-storage.appdomain.cloud/deploy-previews/294/resources). Let me know if I missed anything.

[2020-01-21 19:08] #277 closed

[2020-01-21 19:13] #229 closed

[2020-01-21 19:22] #278 closed

[2020-01-21 19:30] #227 closed

[2020-01-21 19:30] #21 closed

[2020-01-21 19:31] #275 closed

[2020-01-21 19:31] #42 closed

[2020-01-21 19:32] #276 closed

[2020-01-21 19:46] #244 closed

[2020-01-21 19:51] #20 closed

[2020-01-21 19:51] #248 closed

[2020-01-21 19:52] #252 closed

[2020-01-22 19:50] #12 closed

[2020-01-23 15:05] larahanlon2 commented on #288
Shared with DGC team during weekly critique, Tues Jan 21.
Questions from Elliott:

- Who is this for? Need to be clear on who will be/should be using these guidelines
- How does this get us closer to templates?
- Are we asking designers to _design_ or _adopt_ patterns?

[2020-01-23 15:08] larahanlon2 commented on #288
For further feedback and to understand some of our DGC adopters, I shared [this draft layout page](https://ibm.box.com/s/uwat3wojctvdpnxootcnzad49b6fvkv7) with Shixie (Checkout squad), Lila (TS), Jacob (DDS), and asked the following:

**1. In general, is this kind of guidance helpful to you? Why?
2. What was the most impactful or useful section?
3. Did the supporting illustrations make sense?
4. W

[2020-01-23 15:59] JennySanchez commented on #283
**Task update:**
- @jimpistilli Studied Guideline section on the Carbon website and quick huddle scheduled for tomorrow.
- Reached out to a few adapters to get input around the guidelines they need.
- Set up a [Mural board](https://app.mural.co/invitation/mural/digitaldesignsystemsquadwork2176/1579113436354?sender=chsanche&key=26c3f47a-f226-44aa-bee7-223107a17b94) with Wonil to capture the content

[2020-01-23 16:00] JennySanchez commented on #295
Mural board set up for planning cab be viewed [here](https://app.mural.co/invitation/mural/digitaldesignsystemsquadwork2176/1579113436354?sender=chsanche&key=26c3f47a-f226-44aa-bee7-223107a17b94).

[2020-01-23 17:16] jimpistilli commented on #293
This is related to story #283

[2020-01-23 19:00] JennySanchez commented on #284
@jacobottesen-dgc Carbon Expressive storybook items are in work between Olivia and Anna. We will not add the link to the website for now.

[2020-01-23 19:04] JennySanchez commented on #285
@jacobottesen-dgc Can you share the outcome of the best practices and rules study here? Please also share your recommendation for us to follow for our website.

[2020-01-23 19:45] JennySanchez commented on #284
@jeff @wonilsuhibm @larahanlon2 @oliviaflory Can you please click around the links on the website and let Jacob and I know if we missed anything?

[2020-01-23 20:02] oliviaflory commented on #290
Thank you @JennySanchez it all looks great, but one slight adjustment:

I think we need to change the link for the IBM.com library card to direct to the box **folder** rather than the IBM.com Library **file** because the first thing Box says is to "download the file" and we don't want people downloading the library file.

Folder:
<img width="1372" alt="Screen Shot 2020-01-23 at 2 55 50 PM" src="ht

[2020-01-23 22:05] oliviaflory commented on #284
@JennySanchez @jacobottesen-dgc

These three links gave me errors on the Get started / designing page
<img width="719" alt="Screen Shot 2020-01-23 at 4 56 46 PM" src="https://user-images.githubusercontent.com/45692622/73027413-5b8bcf00-3e01-11ea-9b60-b302b16ce548.png">

Are the Storybook links meant to direct to the overview page of the storybook or the exact component / patterns? Asking because I

[2020-01-23 23:18] oliviaflory opened #297 "Review first round of component updates"
I need to review the style updates we have made to the components in storybook

**Task**
Review:
- [ ] accordion
- [ ] breadcrumb
- [ ] button
- [ ] checkbox
- [ ] code snippet
- [ ] combo box
- [ ] composed modal
- [ ] content switcher
- [ ] copy button
- [ ] data table
- [ ] date picker
- [ ] dropdown
- [ ] file uploader
- [ ] form
- [ ] form item
- [ ] form label
- [ ] icon
- [ ] inline loading

[2020-01-24 14:15] wonilsuhibm commented on #290
@JennySanchez I feel that this IBM.com shell template could belong to the IBM.com library section. What do you think?

[2020-01-24 14:22] larahanlon2 commented on #288
### Feedback from Lila (annotated InVision) [here](https://ibm.invisionapp.com/share/ANNZNCPS9YF#/319400725_Layout-Overview-Page-3-0-0--mockup-V1).

### Feedback from Jacob:

[2020-01-24 14:39] oliviaflory commented on #290
@wonilsuhibm I asked Jenny to add the Shell template under the Grids and icons section.
1. Because that's where the UI Shell is in the Carbon site.
2. Because we didn't have the IBM.com Library section in resources yet.

Since the Shell is part of our offering, moving it to the IBM.com Library section is OK with me. Let's hear what Jenny and Jacob think.

[2020-01-24 15:12] jacobottesen-dgc commented on #285
cc. @JennySanchez

Jenny and I showed the Carbon team our proposals for the resource card titles. They said they would look in to it. I sent the following files below to Connor on Carbon.

Current titles:
![Screen Shot 2020-01-24 at 9.10.10 AM.png](https://images.zenhubusercontent.com/5da5ed9833f74500019c499f/7cf308be-0e0e-41b3-8dc2-3a12cf43fe97)

Proposal #1
![Screen Shot 2020-01-24 at 9.10.15 AM

[2020-01-24 16:04] JennySanchez commented on #284
@jacobottesen-dgc Can you update the links? Thanks.

[2020-01-24 16:05] jacobottesen-dgc commented on #284
@JennySanchez

Yes, I'll get working on this!

[2020-01-24 16:11] JennySanchez commented on #290
@wonilsuhibm @oliviaflory I can see it go both ways. Since we have IBM.com Library section now, I think we can move all IBM.com's specific resources under the IBM.com Library section.

[2020-01-24 16:45] JennySanchez commented on #260
I received a survey from the Hotjar company. It's focused on their homepage, but it a good reference.
![Screenshot_2020-01-24 Hotjar Survey.png](https://images.zenhubusercontent.com/5da0db0a9f0a9500014f53bf/6d2767d5-67c7-4103-89af-61882b2199df)

[2020-01-24 16:47] JennySanchez commented on #266
**Update:** Mike is out of the office and the discussion session is rescheduled for Wednesday 01/29.

[2020-01-24 16:55] JennySanchez commented on #283
### Findings

---

**What is a guideline mean to you?**
Guidelines are a series or collections of structured rules/methodologies to align tasks: design, copy, process, reviews, etc. Guideless are not strict but rather served as a guidance with welcomed opportunity to challenge the set rules/methodologies based on team-wide reviews.

**Besides the guidelines you see on the Carbon website,(see scree

[2020-01-24 17:00] oliviaflory commented on #290
Thank you @JennySanchez for pointing out that directing the link to the folder might make adopters confused as to which file is the right one because the file name "IBM.com Library" and card title "Components design kit" are not the same.

Here are my two suggestions:
1. Use the exact file name "IBM.com Library", like we do in the other resource cards so it is clear to adopters which file to add a

[2020-01-24 18:45] JennySanchez commented on #290
@oliviaflory I like option 2 and will make the updates.

[2020-01-24 19:47] jacobottesen-dgc commented on #284
cc. @JennySanchez @oliviaflory

Almost finished with all links. Still trying to figure out the Leadspace READme link.

[2020-01-24 21:51] jacobottesen-dgc commented on #260
cc. @JennySanchez

Here is a great resource for survey/poll examples:
https://www.hotjar.com/blog/poll-examples/

How can we improve this site for you? Is anything missing?

—

If we could improve anything on this page what would it be?

—

What is your main purpose for visiting the IBM.com Library?

Which best describes you?

- Marketing designer
- DGC designer
- IBM Employee non designer
- Other

[2020-01-27 15:18] jeffchew commented on #258
Note, the homepage image has already been swapped out, but not sure if we are tracking issues around the style of it here or was there another issue to capture that @JennySanchez ?

cc: @kennylam @jacobottesen-dgc

[2020-01-27 15:39] jeffchew commented on #246
@JennySanchez can these be separated into separate stories/bugs? This would make it easier to track.

cc: @RobertaJHahn

[2020-01-27 16:28] JennySanchez opened #301 "CTA guideline content - study and draft"
### Notes
- We do not have a Voice and Tone guideline.
- We need to work with the Carbon team for this.
- Collen did some reach across the Modern Commerce to work on the CTA alignment.
- The original issue about the CTA guideline creation can be viewed via the link below. (https://app.zenhub.com/workspaces/ibmcom-library-5d449f3642eb1962336cbe52/issues/carbon-design-system/ibm-dotcom-library/197)

[2020-01-27 16:32] JennySanchez commented on #301
@wonilsuhibm FYI on this task existed.

[2020-01-27 19:20] jacobottesen-dgc commented on #260
I created a box note with questions and resources: https://ibm.ent.box.com/notes/606305492632

I think we should brainstorm what research goals we have for the cupcake site.

cc. @JennySanchez

[2020-01-27 19:25] jacobottesen-dgc commented on #296
cc. @JennySanchez @wonilsuhibm

Created a prototype for a potential layout patterns demo window: https://projects.invisionapp.com/share/BGVPD1Z34Q8#/screens/402194981

[2020-01-27 21:51] jimpistilli commented on #283
@JennySanchez Hey there - below is a draft of a proposed Guidelines page, hopefully capturing the opinion research posted above and what we discussed this morning. Will stand by for further edits or if you want to discuss.

https://ibm.box.com/s/3ax36nqvhauoid6ha47ybv37qk70mcuk

[2020-01-28 15:06] jimpistilli commented on #293
First draft sent to @JennySanchez on 01.27 and available here: https://ibm.ent.box.com/file/606383571632

[2020-01-28 16:08] #10 closed

[2020-01-28 16:08] JennySanchez commented on #290
@jeffchew We need help with the PR since the changes did not pass the checks.

[2020-01-28 17:38] ljcarot commented on #10
Ok to close this issue.

[2020-01-28 17:57] JennySanchez commented on #283
@jimpistilli

The overall content looks good but we need to add something to answer what is guideline then move into "These guidelines have been adopted from dedicated design and UX professionals’ work product that are..."

We went over the overall set up of the page will look like, but I quickly mock it up as a visual reference so you know what to expect and how we can make the edit of the copy y

[2020-01-28 18:42] JennySanchez commented on #290
@jeffchew Thank you for your help.

Updates completed and can be viewed [here](http://ibm-dotcom-library.mybluemix.net/resources/).

[2020-01-28 18:44] JennySanchez commented on #285
@wonilsuhibm @larahanlon2 @oliviaflory Thoughts on the proposal listed above?

[2020-01-28 18:47] JennySanchez commented on #293
@j1mie Let's move this task issue to the "Done" Column since we are moving on to the content crafting via #283 as the next step from here.

[2020-01-28 19:04] jimpistilli commented on #283
@JennySanchez Updated with v2, as we discussed: https://ibm.ent.box.com/file/606383571632

[2020-01-28 19:49] oliviaflory commented on #285
cc @jacobottesen-dgc @JennySanchez

I lean towards `Proposal #1` because we are still hosting our IBM.com library and theme libraries kits on Box and we **do not** want users to "Download" those files. We need them to add those files as libraries through Sketch, otherwise they won't receive our automatic updates.
I wonder if it's considered "Download" when you add them via Sketch cloud on the Carb

[2020-01-28 20:53] JennySanchez commented on #260
@jacobottesen-dgc I add comments to the box note you have and below are what I have. Let me know what do you think?

---

Thank you for sharing feedback with us. It will take three minutes and we appreciate your feedback.

- [ ] Do you know where to find what you need on the website? (yes, or no)
- [ ] Do you know how to get in touch with the IBM.com library team to communicate your needs via the

[2020-01-28 21:05] ljcarot commented on #260
@JennySanchez @jacobottesen-dgc Do you have access to Hotjar?  It's super easy to create questions for survey. I can show you if you want to set up 30 minutes.

[2020-01-28 21:17] JennySanchez commented on #260
I do. Sounds good and will do, @ljcarot <3!!!

[2020-01-29 15:49] jimpistilli commented on #301
Call scheduled with Colleen and Jenny Weds 2/5.

[2020-01-29 15:55] JennySanchez commented on #283
(Draft from Jim)
#### Guidelines

[Overview]

What are guidelines?

Tools, building blocks and simplified processes specifically designed for the IBM.com Library, these parameters can be defined as guidelines that were conceived to provide clarity and remove ambiguity in building digital products and experiences. Practically, these goals are achieved by conveying a symmetrical and concise user int

[2020-01-29 16:07] JennySanchez opened #304 "Finalize Guideline overview page content for the website update"
The planning detail can be viewed via #283

---

#### Steps:
- [x] Share the draft with the team to get feedback
- [ ] Finalize the content
- [ ] Publish the content on website with markdowns

#### Acceptance criteria
- [ ]  Have the what is guideline content finalized and published on the live website.

[2020-01-29 16:08] jacobottesen-dgc commented on #260
@JennySanchez The questions look great. Should we share them with Penny or are we good to add  them to Hotjar now?

[2020-01-29 16:09] JennySanchez commented on #304
As 01-29-2020

---

#### Guidelines

[Overview]

What are guidelines?

Tools, building blocks and simplified processes specifically designed for the IBM.com Library, these parameters can be defined as guidelines that were conceived to provide clarity and remove ambiguity in building digital products and experiences. Practically, these goals are achieved by conveying a symmetrical and concise user

[2020-01-29 16:20] JennySanchez commented on #304
@j1mie FYI - we will share the content in our Huddle 2020: squad weekly on 02/06 to get feedback from the team.

[2020-01-29 16:22] JennySanchez opened #305 "Cupcake website Homepage design (part two)"
#### User story

#### Additional information
- This story is created based on feedback from the Carbon designers and MIke.
- Part one work detail can be viewed via #281

#### Tasks
- [x] Create design options

#### Acceptance criteria
- [x] Have designs ready to reviewed with Wonil.

[2020-01-29 16:28] JennySanchez opened #306 "Create an adoptor roadmap diagram and content for the website"
#### User story

#### Additional information
Below is the v19a version of the roadmap diagram and the Sketch work file can be found [here](https://ibm.box.com/s/h1p024i00gzjxw78huyv8yhcvn9t4kqw).
![roadmap diagram](https://user-images.githubusercontent.com/45213839/73376832-adaa7580-4283-11ea-8213-5ea44cd5c2b5.jpg)

#### Acceptance criteria
- [ ] Diagram is created and finalized.
- [ ] Diagram is

[2020-01-29 16:53] JennySanchez commented on #296
@jacobottesen-dgc @wonilsuhibm Do you have the next step in mind from this sprint's work? If you do, can you create a task issue on the website board for it and let me know by Friday? Thank you.

[2020-01-29 16:56] JennySanchez commented on #260
@jacobottesen-dgc We need to get feedback from Penny before adding it to the website next sprint.

[2020-01-29 17:08] JennySanchez opened #307 "Update the Hotjar survey question for the website"
#### Additional information
- Survey question planning detail can be viewed via #260.
- We need to add Tealium and Hotjar scripts before the survey can appear on the website. Task issue #279 is created for the dev team to add the scripts.
- @ljcarot offered to teach us how to set up and update the survey.
- We need to find out where the survey can or will show up on the website pages.

#### Accept

[2020-01-29 17:09] JennySanchez commented on #307
Learning session scheduled with Linda for 02/04.

[2020-01-29 17:24] JennySanchez commented on #284
@jacobottesen-dgc Any update on the Leadspace READme link?

[2020-01-29 17:25] JennySanchez commented on #285
Agreed with you, @oliviaflory!

[2020-01-29 17:28] JennySanchez opened #308 "Update title & subtitles on resource cards set up on the website"
### Additional information
- Research and planning detail can be viewed via #285

#### Acceptance

- [ ] Update all resource card set up on the Cupcake website.
- [ ] Review the update with Jenny.

[2020-01-29 17:31] JennySanchez commented on #287
@wonilsuhibm Let me know what do you think?

[2020-01-29 17:33] larahanlon2 commented on #285
I also like `proposal #1`. I like the helpful, conversational language.

One thought: I would still use the **download** icon for anything that is a direct download (instead of all cards having the **launch** icon). Unless of course, if they are all the same i.e launch a new tab/destination then it's fine to use the same icon on all cards!

[2020-01-29 17:51] ljcarot commented on #261
Adopter is looking for full built page examples of a page built in Carbon (for IBM.com).  He is PM for rebuilding Employment website on ibm.com

[2020-01-29 20:18] JennySanchez commented on #266
**Based on the discussion:**

- Mike and Jeannie like the label color we are using on the pattern spec image and will update their color from Magenta 60 to Magenta 50. For the darker color background, we agreed on using Magenta 70.

- Jeannie mentioned Lauren created the spec label color best practice for the Cabron Team. At a high level: Magenta is for call out, Teal is for margin, and purple is

[2020-01-29 22:40] jeffchew commented on #279
Added ibm-common.js to the bottom of the page.

[2020-01-30 13:38] wonilsuhibm commented on #296
@jacobottesen-dgc this looks great! So excited to see this.

A few questions:

- Being able to see the specs was another ask. Are you thinking that specs would be handled separately?
- Desktop view loses the knobs and the content editor. Is there any way to keep them?
- How do you imagine responsive layouts would be handled? Are these patterns fixed at the three device sizes? Or do they respond to

[2020-01-30 13:50] wonilsuhibm commented on #283
@JennySanchez @jimpistilli Thank you. It reads very nice. My one concern is that it might be too verbose. The main content is the list below, I'd love to see this condensed into one short and sweet paragraph.

[2020-01-30 14:14] jimpistilli commented on #283
Sure, I can pare it down to a lighter reading paragraph, will circle back.

[2020-01-30 15:18] #290 closed

[2020-01-30 15:20] #279 closed

[2020-01-30 15:30] jacobottesen-dgc commented on #284
@JennySanchez Just got the link. Updated to the site now.

[2020-01-30 16:00] jacobottesen-dgc commented on #296
**Desktop view loses the knobs and the content editor. Is there any way to keep them?**

I did explore an option where entering desktop view would be a bit different. Or you could keep the same layout as a prototype above and add the knobs to the desktop view. I'd love to hear your thoughts.

![Screen Shot 2020-01-30 at 9.54.19 AM.png](https://images.zenhubusercontent.com/5da5ed9833f74500019c499f/

[2020-01-30 16:16] jacobottesen-dgc commented on #296
**How do you imagine responsive layouts would be handled? Are these patterns fixed at the three device sizes? Or do they respond to browser size?**

I worked through the responsive design in the image below. When using a 700px-680px device the desktop view option would be removed. If they were to select the tablet view it would open full screen in their 700px-680px device size. Let me know if you

[2020-01-30 16:19] jacobottesen-dgc commented on #296
**Being able to see the specs was another ask. Are you thinking that specs would be handled separately?**

Still work through this. Updates coming soon

[2020-01-30 16:33] larahanlon2 commented on #65
Moving this to backlog again because of other priorities.

[2020-01-30 16:36] larahanlon2 commented on #65
When revisiting this, refer to [Mural](https://app.mural.co/invitation/mural/digitaldesignsystemsquadwork2176/1580397317100?sender=larahanlon9022&key=4c666c4b-42a2-4a5a-9545-10e19c7a238d) for prioritization and [Boxnote](https://ibm.ent.box.com/notes/565346710895) for process steps.

Ontology visuals can be viewed [here](https://app.mural.co/invitation/mural/digitaldesignsystemsquadwork2176/157953

[2020-01-30 16:59] jimpistilli commented on #283
Hey @wonilsuhibm - below is an updated version, reflecting your request. Please let me know if you're good with this or if it still needs some work.  Thanks.

**What are guidelines?**

The guidelines found here can be defined as a set of parameters that are designed to provide clarity and remove ambiguity in building digital products and experiences. They are written with the intent to build reade

[2020-01-30 21:18] JennySanchez commented on #288
@larahanlon2 Thank you for the follow-up meeting today. Can't wait to see the content go live on the Cupcake website. As discussed, we will work on the content update on the website in the next sprint (task issue #289).

[2020-02-03 15:25] JennySanchez opened #310 "Finalize Hotjar survey questions"
#### Additional information
- This task issue is created to finalize the work we did via #260.
- Linda created a [Hotjar survey](https://surveys.hotjar.com/s?siteId=42920&surveyId=148553) for collecting feedback. Let's use the survey when we publish released our website. For now, let's think if we need to add anything else to the survey and record it as comments below.

#### Acceptance criteria
-

[2020-02-03 15:25] JennySanchez commented on #260
I reached out to Penny on Wednesday 01-29th and she did not get back to us yet. A new task issue (#260) is created for getting the questions finalized.

[2020-02-03 15:28] JennySanchez commented on #310
This is the duplication of #307.

[2020-02-03 15:28] #310 closed

[2020-02-03 16:57] jimpistilli commented on #304
Updated copy:

_The guidelines found here can be defined as a set of parameters that are designed to provide clarity and remove ambiguity in building digital products and experiences. They are written with the intent to build reader familiarity and consistency across all of IBM’s pages, while educating about IBM products and services. We leave it to you, the IBM.com adopter, to implement these bes

[2020-02-03 17:38] jimpistilli commented on #304
Hey @wonilsuhibm - if you approve of the revise text, would you let us know so we can proceed in getting the copy on the page?  Thanks.

[2020-02-03 17:39] JennySanchez opened #311 "IBM.com Library adoption strategy planning"
#### As an IBM.com Library adopter, I need a way to see the adoption path so that I know how to make a plan for my team to adopter the IBM.com Library and Carbon in the future.

#### Additional information
- For v19a, we used to have the content below as the way to guide adopters and we might want to consider using a similar format: A adopter roadmap diagram and a short description for each adopti

[2020-02-03 17:51] JennySanchez commented on #288
The next step task will be recorded via #289.

[2020-02-03 17:53] JennySanchez commented on #289
@jacobottesen-dgc As discussed with Lara, we are ready to update the Layout Patterns/Overview Page with the content she has. Please start to migrate the content to the live website with the markdowns.

[2020-02-03 17:55] JennySanchez commented on #281
Second part of the task will be recorded via #281.

[2020-02-03 17:57] JennySanchez commented on #296
@jacobottesen-dgc Please provide the updates here and move on to the next step for this task with #972.

[2020-02-03 18:02] jacobottesen-dgc commented on #296
Just received feedback from Wonil this morning.
Current sketch file: https://ibm.box.com/s/1ojy3cthxk82gr88xnvht2vg8myhy57d

Next steps:
- Title at top in full screen view
- Changing pattern type to higher level
- Implement ontology patterns
- Specs

[2020-02-03 18:08] JennySanchez commented on #296
Perfect. Thanks.

[2020-02-03 18:11] JennySanchez commented on #258
@jeffchew

This issue contains two tasks:
1. Update the image
2. Correct how the image displayed

Is @kennylam going to work on this task? If it is, let's get on WebEx so I can show you what I am looking for, sounds good?

[2020-02-03 19:14] JennySanchez commented on #285
Great. We will move froward with proposal #1. The next step task will be recorded via #308.

[2020-02-03 19:16] JennySanchez commented on #283
We will work on the next step via #304.

[2020-02-03 19:21] JennySanchez commented on #289
FYI - @larahanlon2 This issue is for the content update on the website.

[2020-02-04 15:11] jimpistilli commented on #301
Call that was scheduled for 2/5 to discuss existing CTA research was cancelled due to research not relevant. Jim working on conducting external research and will provide a draft by 2/5 instead.

cc: @JennySanchez

[2020-02-04 15:22] jimpistilli opened #313 "Content publishing process audit & analysis"
Acceptance criteria: Assess our processes of publishing content for both efficiency and speed, and also align the content itself to what our adopters' needs and wants are.

Definition of done: An audit and analysis of our content publishing process, start to finish, that includes suggestions to improve and for it to be as relevant as possible.

cc: @JennySanchez @wonilsuhibm

[2020-02-04 15:44] RobertaJHahn commented on #121
This epic is to capture the metrics work required for the wedding cake web site.  The wedding cake strategy has not been finalized.  Keeping this open.

[2020-02-04 15:50] JennySanchez commented on #311
Work session: Adopter Strategy meeting scheduled for 02/12.

[2020-02-04 15:54] JennySanchez commented on #307
@jacobottesen-dgc As discussed, please schedule a time for us to take a look at the questions with Penny.

[2020-02-04 16:48] larahanlon2 commented on #288
The current iteration of content is ready to publish on cupcake site. Additional content and visuals will be added as we publish and get more feedback. https://ibm.ent.box.com/notes/594294393853

Closing.

[2020-02-04 16:48] #288 closed

[2020-02-04 18:29] #293 closed

[2020-02-04 18:30] #296 closed

[2020-02-05 15:47] #260 closed

[2020-02-05 15:48] #284 closed

[2020-02-05 15:48] #281 closed

[2020-02-05 15:48] #266 closed

[2020-02-05 15:49] #285 closed

[2020-02-05 15:49] #283 closed

[2020-02-05 16:09] wonilsuhibm commented on #304
@jimpistilli @JennySanchez Thank you. Looks good to me.

[2020-02-05 17:04] JennySanchez commented on #307
Feedback received from Penny:
![Screen Shot 2020-02-05 at 11 02 56 AM](https://user-images.githubusercontent.com/45213839/73864425-376bbd00-4807-11ea-878c-2f52140557b3.png)

[2020-02-05 17:09] JennySanchez commented on #260
@ljcarot @jacobottesen-dgc We are good to go with the Hotjar survey question updates. Please let me know if I missed anything before our work session next Tuesday.

---

**Thank you for sharing feedback with us. It will take three minutes and we appreciate your feedback.**

- Can you find what you need on this website? (yes, or no)
- If no, what information is missing? (comment box)
- Do you know

[2020-02-05 17:10] JennySanchez commented on #307
@ljcarot @jacobottesen-dgc We are good to go with the Hotjar survey question updates. Please let me know if I missed anything before our work session next Tuesday.

---

**Thank you for sharing feedback with us. It will take three minutes and we appreciate your feedback.**

- Can you find what you need on this website? (yes, or no)
- If no, what information is missing? (comment box)
- Do you know

[2020-02-05 17:40] jacobottesen-dgc commented on #289
Continuing to make updates. All content and images added. I still need to clean up the formatting of content. Lara will be reviewing it by EOD 02/05.

Live link here:
https://ibmdotcom-library.s3.us-south.cloud-object-storage.appdomain.cloud/deploy-previews/314/index.html

cc. @JennySanchez

[2020-02-05 17:41] JennySanchez commented on #304
After the update went on the staging site, Jim and I took a look and realized:
- We do not need the "About the guidelines" section title and should take out the intro paragraph and use the updated content for the intro.
- We need to take out the  "Guidelines are a set of fundamentals that bring consistency to IBM’s product and online experiences." under the "Core guidelines".
- We do not need the

[2020-02-05 18:02] JennySanchez commented on #246
@jeffchew Task issue breaks into separate stories as requested - #1324 and #1325. Please add additional labels and settings to make sure we are good to go.

@RobertaJHahn We can close this one.

[2020-02-05 19:56] jimpistilli commented on #301
Put up a draft on Box located at: https://ibm.box.com/s/19u2nol7bogxbfay8y80pawizp3vjf2f

cc: @JennySanchez @wonilsuhibm

[2020-02-05 20:27] JennySanchez commented on #301
@jimpistilli I made comments and please feel free to let me know if the comments make sense to you.

[2020-02-05 21:30] jimpistilli commented on #301
@JennySanchez Updated to reflect your comments

cc: @wonilsuhibm

[2020-02-05 22:02] RobertaJHahn commented on #246
This work has been broken into 2 stories.  Issue (#1324) and Issue (1325)  Closing this issue.

[2020-02-05 22:02] #246 closed

[2020-02-06 16:05] JennySanchez commented on #304
Guideline page update completed and can be viewed on the [website](https://ibm-dotcom-library.mybluemix.net/guidelines).

[2020-02-06 17:15] jimpistilli commented on #301
@wonilsuhibm Current draft here: https://ibm.box.com/s/19u2nol7bogxbfay8y80pawizp3vjf2f

[2020-02-06 17:18] wonilsuhibm commented on #301
@jimpistilli @JennySanchez THank you. I feel that this guideline should also touch upon the placement of CTAs on a page, number of CTAs on a page, its relationship with the overall narrative on the page.

[2020-02-06 19:18] JennySanchez commented on #301
@wonilsuhibm Agreed with you, we are focusing on the Label for this week. Below is what I think we should include in a CTA guideline page. The goal of this guideline is to help IBM.com creator understand what is CTA and how they can create an impactful CTA. I quickly add some ideas but it's up to @jimpistilli 's finding and his recommendation. Please also add any ideas or thoughts you have to help

[2020-02-06 19:22] jimpistilli commented on #301
@JennySanchez I have some other research that answers most of these questions that I came across while doing the label research. Let me review and think about how to best group answering your questions, keeping it brief as @wonilsuhibm likes, but also is informative enough for a reader.

[2020-02-07 18:32] JennySanchez commented on #65
@larahanlon2 Great planning work and thank you again for going over the process steps document with Jim, Jacob and I earlier today.

I shared my estimate and I think four sprints are pretty safe to set as an expectation margin. We want to publish content sooner than four sprints and will do so if we can, it all depends on how complex the pattern is going to be and how much material we can gather i

[2020-02-11 17:21] JennySanchez opened #318 "New homepage website hero message"
#### User story

#### Additional information
- The homepage design is not finalized but the image below can be used as a visual reference for copy creation.

![Screen Shot 2020-02-11 at 11 48 20 AM](https://user-images.githubusercontent.com/45213839/74263453-78ab1380-4cc4-11ea-95ae-03468da01b85.png)

#### Tasks
- [ ] Provide a few copy options for review

#### Acceptance criteria
- [ ] Copy finali

[2020-02-11 17:45] JennySanchez commented on #318
@j1mie

**Our current intro on the Cupcake website homepage:**
"IBM.com Library is a collection of components, patterns, tools, and guidelines for designers and developers building IBM.com experiences. Its components and patterns are based on Carbon Design systems and optimized to help our adopters building the best IBM.com experiences."

---

Here are a few ideas to help you get started, please l